<% if message.read == false %>
	<%= div_for(message, :class => "unread message_single") do %>
		<%= link_to(message, :id =>"message_single_link") do %>
		<% end %>
		<div id="message_single_gravatar">
			<%= link_to message do %>
				<%= image_tag(User.find(message.user_id).photo.url, :id => "user_photo_small") %>
			<% end %>
		</div>
		<div id="message_read_status_<%= message.id %>">
			<%= render :partial => 'read', :locals => { :message => message } %>
		</div>
		<div id="message_single_timestamp" title="<%= message.created_at.strftime("%A, %B %d, %Y")%> at <%= message.created_at.strftime("%I:%M %p")%>">
			<% if (Time.now - message.created_at)/86400 > 1 %>
				<p><%= message.created_at.strftime("%B %d, %Y")%></p>
			<% else %>
				<p><%= time_ago_in_words(message.created_at) %> ago</p>
			<% end %>
		</div>
		<div id="message_single_name">
			<%= link_to User.find(message.user_id).name, message %>
		</div>
		<div id="message_single_content">
			<p>
				<%= link_to(message, :id => "message_index_content_anchor") do %>
					<%= strip_tags(message.content) %>
				<% end %>
			</p>
		</div>
	<% end %>
<% else %>
	<%= div_for(message, :class => "read message_single") do %>
		<%= link_to(message, :id =>"message_single_link") do %>
		<% end %>
		<div id="message_single_gravatar">
			<%= link_to message do %>
				<%= image_tag(User.find(message.user_id).photo.url, :id => "user_photo_small") %>
			<% end %>
		</div>
		<div id="message_read_status_<%= message.id %>">
			<%= render :partial => 'unread', :locals => { :message => message } %>
		</div>
		<div id="message_single_timestamp" title="<%= message.created_at.strftime("%A, %B %d, %Y")%> at <%= message.created_at.strftime("%I:%M %p")%>">
			<% if (Time.now - message.created_at)/86400 > 1 %>
				<p><%= message.created_at.strftime("%B %d, %Y")%></p>
			<% else %>
				<p><%= time_ago_in_words(message.created_at) %> ago</p>
			<% end %>
		</div>
		<div id="message_single_name">
			<%= link_to User.find(message.user_id).name, message %>
		</div>
		<div id="message_single_content">
			<p>
				<%= link_to(message, :id => "message_index_content_anchor") do %>
					<%= strip_tags(message.content) %>
				<% end %>
			</p>
		</div>
	<% end %>
<% end %>