<div id="my_deals_side">
	<div id="my_deals_photo">
		<%= link_to(@user) do %>
			<%= image_tag(@user.photo.url, :id => "user_photo_medium") %>
		<% end %>
	</div>
	<%= render '/users/my_points' %>
	<div id="my_deals_info">
		<div id="my_deals_watching">
			<p>
				<% if current_user.received_messages.where("read = ?", false).size > 0 %>
					Messages: <span class="grey_75"><%= current_user.received_messages.size %></span> <span class="message_unread_count">(<%= current_user.received_messages.where("read = ?", false).size %>)</span>
				<% else %>
					Messages: <span class="grey_75"><%= current_user.received_messages.size %></span> <span class="message_unread_count"></span>
				<% end %>
			</p>
		</div>
		<div class="my_deals_div">
			<p><%= link_to "New Message", "javascript: void(0)", :onclick => "showIndexMessage();" %></p>
		</div>
		<% unless @user.request_friends.empty? %>
			<div class="my_deals_div">
				<p><%= link_to "Friend Requests (#{@user.request_friends.size})", friend_requests_path %></p>
			</div>
		<% end %>
		<div class="my_deals_div">
			<p>
				<%= link_to my_friends_path do %>
					Friends <span class="friends_count">(<%= (@user.friends.size + @user.inverse_friends.size) %>)
				<% end %>
			</p>
		</div>
		<div class="my_deals_div">
			<p>
				<% if @user.inverse_deals.where("posted > ?", @user.duration).size == 0 %>
					<%= link_to "Shared", shared_deals_path %>
				<% else %>
					<%= link_to "Shared (#{@user.inverse_deals.where("posted > ?", @user.duration).size})", shared_deals_path %>
				<% end %>
			</p>
		</div>
		<div class="my_deals_div">
			<p><%= link_to "Mark All Read", read_all_path %></p>
		</div>
		<%= render "authentications/auth_facebook" %>
	</div>
</div>
<div id="message_list">
	<div id="flash"></div>
	<p id="none" style="display:none">No messages matching your search.</p>
	<%= render :partial => "message_index", :collection => @messages, :as => :message %>
</div>
<%= render 'messages/new_message' %>