<div id="header" data-role="header">
	<%= link_to('#', :id => "backButton", "data-rel" => "back", "data-role" => "none") do %>
		Back
	<% end %>
	<div class="headerPageTitle">
		<%= @sender.name %>
	</div>
	<%= link_to(root_path, :id => "blueBoltHome", "data-role" => "none") do %>
		<div></div>
	<% end %>
</div>
<div id="contentNoPad" data-role="content">
	<div id="messageForm">
		<%= render 'messageForm' %>
	</div>
	<span id="messageList">
		<%= render @messages %>
	</span>
</div>