<div id="login">
	<p class="loginHeader">Login using</p>
	<ul>
		<li>
			<%= link_to('/auth/facebook', :id => 'facebookAuth', :class => 'authButton') do %>
				<%= image_tag '/assets/facebook_auth.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to('/auth/twitter', :id => 'twitterAuth', :class => 'authButton') do %>
				<%= image_tag '/assets/twitter_auth.png' %>
			<% end %>
		</li>
		<li>
			<%= link_to('/google/oauth', :id => 'googleAuth', :class => 'authButton') do %>
				<%= image_tag '/assets/google_auth1.png' %>
			<% end %>
		</li>
	</ul>
	<div id="loginForm">
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<div class="field">
				<%= f.text_field :email, :tabindex => 1, :placeholder => "Email address" %>
			</div>
			<div class="field">
				<%= f.password_field :password, :tabindex => 2, :placeholder => "Password" %>
			</div>
			<div class="actions">
				<%= f.submit "Log In", :tabindex => 3 %>
			</div>
		<% end %>
	</div>
	<div class="newUserSignup">
		New user?
		<%= link_to signup_path do %>
			Sign up here
		<% end %>
	</div>
</div>