<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FlashingDeals Invite</title>
		<%= favicon_link_tag 'favicon.ico' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    	#invite_body {
    		width: 500px;
    		background: rgb(255, 255, 255);
    		border: 1px solid rgb(148, 222, 240);
    		margin: 0 auto;
    	}
    	#logo {
    		background: rgb(173, 217, 228);
    		padding: 20px 20px 5px 20px;
    	}
    	#header {
    		font-family: Helvetica, Arial; 
    		font-size: 22px;
    		color: rgb(75, 75, 75);
    		margin: 0;
    		padding: 20px;
    	}
    	#accept_invite_link {
    		text-align: center;
    	}
    	#header2 {
    		font-family: Helvetica, Arial;
  			font-size: 14px;
  			margin: 0;
  			color: rgb(75, 75, 75);
  			padding: 14px 20px 20px 20px;
    	}
  		p {
  			font-family: Helvetica, Arial;
  			font-size: 14px;
  			line-height: 18px;
  			margin: 0;
  			margin-bottom: 14px;
  			color: rgb(75, 75, 75);
  			padding: 0px 20px;
  		}
    </style>
	</head>
	<body>
		<table id="invite_body">
			<tr>
				<td id="logo">
					<%= image_tag "https://s3.amazonaws.com/flashingdeals_admin/logo_beta.png" %>
				</td>
			</tr>
			<tr>
				<td>
					<h1 id="header">Friends don’t let friends pay full price.</h1>
				</td>
			</tr>
			<tr>
				<td>
					<p>You have been invited by <b><a href="#" style="color: rgb(75, 75, 75); text-decoration: none;"><%= @user.email %></a></b> to join FlashingDeals.</p>	
				</td>
			</tr>
			<tr>
				<td>
					<p>FlashingDeals is dedicated to delivering you the best deals. We do all the homework for you, researching and comparing every deal so that you don't have to.</p>
				</td>
			</tr>
			<tr>
				<td id="accept_invite_link">
					<%= link_to("http://www.flashingdeals.com/signup/#{@user.id}235kjv", :target => "_blank") do %>
						<%= image_tag "https://s3.amazonaws.com/flashingdeals_admin/accept_invite.png" %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<p id="header2">Signup now and join the community! Can't wait to see you there.</p>
				</td>
			</tr>
		</table>
	</body>
</html>