<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Welcome to FlashingDeals</title>
		<%= favicon_link_tag 'favicon.ico' %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			.clear {
				height: 0;
				font-size: 1px;
				margin: 0;
				padding: 0;
				line-height: 0;
				clear: both;
			}
    	#welcome {
    		width: 702px;
    		background: rgb(255, 255, 255);
    		border: 1px solid rgb(148, 222, 240);
    		margin: 0 auto;
    		border-spacing: 0px;
    	}
    	#welcome table {
    		border-spacing: 0px;
    	}
    	#welcome a {
				color: rgb(44, 175, 227);
    	}
    	#header {
    		background: rgb(173, 217, 228);
    	}
    	#logo {
    		width: 552px;
    		padding: 20px 0px 5px 30px;
    	}
    	#follow {
    		height: 20px;
    		width: 90px;
    		padding-right: 30px;
    	}
    	#follow a {
    		text-decoration: none;
    	}
    	#follow img#follow_us {
    		width: 40px;
    		height: 20px;
    		float: left;
    		margin: 0;
    	}
    	#follow img {
    		width: 20px;
    		height: 20px;
    		margin: 0px 2px;
    		float: right;
    		-webkit-border-radius: 2px;
    		-khtml-border-radius: 2px;
    		-moz-border-radius: 2px;
    		-ms-border-radius: 2px;
    		-o-border-radius: 2px;
    		border-radius: 2px;
    	}
    	#follow p {
    		font-family: Helvetica, Arial;
    		font-size: 12px;
    		color: rgb(75, 75, 75);
    		height: 20px;
    		margin: 0;
    		line-height: 22px;
    	}
    	#welcomeMessage td {
    		padding: 20px 30px 0px 30px;
    	}
    	#welcomeMessage p {
    		font-family: Helvetica, Arial, sans-serif;
    		font-size: 13px;
    		margin: 0 0 15px 0;
    		color: rgb(75, 75, 75);
    	}
    	#gettingStarted td {
    		padding: 0 30px 20px 30px;
    	}
    	#gettingStartedHeader {
    		font-family: Helvetica, Arial, sans-serif;
    		font-size: 13px;
    		margin: 0 0 10px 0;
    		color: rgb(75, 75, 75);
    	}
    	#gettingStarted ul {
    		padding: 0 0 0 30px;
    		margin: 0;
    	}
    	#gettingStarted ul li {
    		font-family: Helvetica, Arial, sans-serif;
    		font-size: 13px;
    		margin: 0 0 10px 0;
    		color: rgb(75, 75, 75);
    	}
    	#gettingStarted ul li p {
    		line-height: 18px;
    	}
    	#mobile {
    		width: 702px;
    		margin: 0 auto;
    	}
    	#mobile p {
    		font-family: Verdana;
    		font-size: 11px;
    		color: rgb(150, 150, 150);
    		text-align: center;
    		margin: 0;
    		padding: 20px 0px;
    	}
		</style>
	</head>
	<body>
		<table id="welcome">
			<tr id="header">
				<td>
					<table>
						<tr>
							<td id="logo">
								<%= link_to("http://www.flashingdeals.com", :target => "_blank") do %>
									<img src="http://s3.amazonaws.com/flashingdeals_admin/logo_beta_s.png">
								<% end %>
							</td>
							<td id="follow">
								<p>
									<img id="follow_us" src="http://s3.amazonaws.com/flashingdeals_admin/follow_words.jpg">
									<%= link_to("http://twitter.com/FlashingDeals", :id => "twitter", :target => "_blank") do %>
										<img src="/assets/twitter_button.png">
									<% end %>
									<%= link_to("http://www.facebook.com/FlashingDeals", :id => "facebook", :target => "_blank") do %>
										<img src="/assets/facebook_button.png">
									<% end %>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr id="welcomeMessage">
				<td>
					<p>Hello <%= @user.name %>,</p>
					<p>Welcome to FlashingDeals!</p>
					<p>Have fun as you discover and share new deals with friends.</p>
				</td>
			</tr>
			<tr id="gettingStarted">
				<td>
					<p id="gettingStartedHeader"><b>Getting Started:</b></p>
					<ul>
						<li><p>Build your <%= link_to "Feed", "http://www.flashingdeals.com/feed", :target => "_blank" %> by adding friends on FlashingDeals</p></li>
						<li><p>Add friends by going to their profile page or checking your <%= link_to "Friend Requests", "http://www.flashingdeals.com/friend-requests", :target => "_blank" %></p></li>
						<li><p>Watch deals by commenting on them; then they will appear on your <%= link_to "My Deals", "http://www.flashingdeals.com/my-deals", :target => "_blank" %> page</p></li>
						<li><p>Edit your name, email, password, or change your profile picture by going to your <%= link_to "Account Settings", "http://www.flashingdeals.com#{edit_user_path(@user)}", :target => "_blank" %></p></li>
						<li><p>Complete missions found in the <%= link_to "Game Room", "http://www.flashingdeals.com/game-room", :target => "_blank" %> to win special prizes and rewards</p></li>
						<li><p><%= link_to "Invite", "http://www.flashingdeals.com/invite", :target => "_blank" %> 3 friends and have them join FlashingDeals to receive a free $10 Gift Card from any store or restaurant of your choice</p></li>
					</ul>
				</td>
			</tr>
		</table>
		<table id="mobile">
			<tr>
				<td>
					<p>Have a mobile device? Check out FlashingDeals Mobile on your device to see deals anytime and anywhere.</p>
				</td>
			</tr>
		</table>
	</body>
</html>