<%= div_for(comment) do %>
	<div id="gravatar_comment">
		<%= link_to User.find(comment.user_id) do %>
			<%= image_tag(User.find(comment.user_id).photo.url, :id => "user_photo_small") %>
		<% end %>
	</div>
	<div id="comment">
		<div id="comment_user">
			<strong><%= link_to User.find(comment.user_id).name, User.find(comment.user.id) %></strong> <%= link_to "@ #{Deal.find(comment.deal_id).name}", Deal.find(comment.deal_id), :id => "comment_index_at_deal" %>
		</div>
		<div id="comment_content">
			<%= wrap(comment.content) %>
		</div>
		<div id="comment_timestamp">
			Posted on <%= comment.created_at.strftime("%A") %> at <%= comment.created_at.strftime("%I:%M %p") %> (<%= comment.created_at.strftime("%b %d, %Y") %>)
			<% if signed_in? %>
				<% if current_user.gm %>
					| <%= link_to "Delete", comment, :class => "delete_link", :method => :delete, :confirm => "Are you sure you want to delete?" %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div id="subcomments_list">
		<div id="subcomments_list_partial_<%= comment.id %>">
			<%= render :partial => 'subcomments/subcomment', :collection => Subcomment.where("comment_id = ?", comment.id) %>
		</div>
	</div>
<% end %>
<div class="clear"></div>