<div id="close_share_list">
	<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeShareList();" %>
</div>
<%= form_for current_user.shares.build(:deal_id => @deal.id), :remote => true do |f| %>
	<p>Select a friend from the menu</p>
	<div class="field">
		<%= text_field_tag :friend_name, "", data: {autocomplete_source: friends_path} %>
		<%= f.hidden_field :deal_id %>
	</div>
	<div class="actions">
		<%= f.submit "Share" %>
	</div>
<% end %>
<script>
$(document).ready(function() {
	$('div#share_list div.actions input').click(function() {
		$('div#share_list').fadeOut(300);
	});
});
</script>