<div id="newsletter_side">
	<ul>
		<li><%= link_to "Newsletters", newsletters_path %></li>
		<li><%= link_to "Create Newsletter", new_newsletter_path %></li>
		<li><%= link_to "Subscribed Users", subscribed_users_path %></li>
		<li><%= link_to "Unsubscribed Users", unsubscribed_users_path %></li>
		<li><%= link_to "Monthly Subscribed Users", monthly_subscribed_users_path %></li>
	</ul>
</div>