<div class="newsletter">
	<%= link_to newsletter do %>
		<h1>
			<b><%= newsletter.name %></b> <span class="grey_150">(<%= newsletter.created_at.strftime("%b %d, %y") %>)</span>
			<% if newsletter.emailed? %>
				<span class="red">Emailed</span>
			<% end %>
		</h1>
	<% end %>
	<h2>
		# Of Deals:
		<% if newsletter.deal1.nil? %>
			0
		<% elsif !newsletter.deal8.nil? %>
			8
		<% elsif !newsletter.deal7.nil? %>
			7
		<% elsif !newsletter.deal6.nil? %>
			6
		<% elsif !newsletter.deal5.nil? %>
			5
		<% elsif !newsletter.deal4.nil? %>
			4
		<% elsif !newsletter.deal3.nil? %>
			3
		<% elsif !newsletter.deal2.nil? %>
			2
		<% elsif !newsletter.deal1.nil? %>
			1
		<% end %>
	</h2>
	<p><%= newsletter.info1 %></p>
	<p><%= newsletter.info2 %></p>
	<p><%= newsletter.info3 %></p>
	<p><%= newsletter.info4 %></p>
	<p><%= newsletter.info5 %></p>
	<p><%= newsletter.info6 %></p>
	<div id="newsletter_edit_delete">
		<ul>
			<li><%= link_to "Edit", edit_newsletter_path(newsletter) %></li>
			<li><%= link_to "Delete", newsletter, :method => :delete, :confirm => "Are you sure you want to delete this newsletter?" %></li>
			<li><%= link_to "Email", email_newsletter_path(newsletter) %></li>
		</ul>
	</div>
</div>