<%= render 'newsletter_side' %>
<div id="new_newsletter">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>">
			<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
		</div>
	<% end %>
	<%= form_for @newsletter do |f| %>
		<%= render 'users/error_messages', :object => f.object %>
		<div class="field">
			<p>Name: <%= f.text_field :name, :autocomplete => "off", :placeholder => "Required" %></p>
		</div>
		<div class="field">
			<p>Info 1: <%= f.text_area :info1, :autocomplete => "off" %></p>
		</div>
		<div class="field">
			<p>Info 2: <%= f.text_area :info2, :autocomplete => "off" %></p>
		</div>
		<div class="field">
			<p>Info 3: <%= f.text_area :info3, :autocomplete => "off" %></p>
		</div>
		<div class="field">
			<p>Deal 1: <%= f.text_field :deal1, :autocomplete => "off", :placeholder => "5000 (The Deal's ID)" %></p>
		</div>
		<div class="field">
			<p>Deal 2: <%= f.text_field :deal2, :autocomplete => "off", :placeholder => "Fill in Deal1 before filling in here" %></p>
		</div>
		<div class="field">
			<p>Deal 3: <%= f.text_field :deal3, :autocomplete => "off", :placeholder => "Fill in Deal2 before filling in here" %></p>
		</div>
		<div class="field">
			<p>Deal 4: <%= f.text_field :deal4, :autocomplete => "off", :placeholder => "Fill in Deal3 before filling in here" %></p>
		</div>
		<div class="action">
			<%= f.submit "Update" %>
		</div>
	<% end %>
</div>