<%= render 'newsletter_side' %>
<div id="newsletter_list">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>">
			<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
		</div>
	<% end %>
	<h1 class="newsletters_header">Newsletters (<%= Newsletter.all.size %>)</h1>
	<%= render @newsletters %>
	<%= will_paginate @newsletters, :separator => "" %>
</div>