<% flash.each do |key, value| %>
	<div class="flash <%= key %>">
		<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
	</div>
<% end %>
<%= form_for @newsletter do |f| %>
	<%= render 'users/error_messages', :object => f.object %>
	<div class="field">
		<p>Name: <%= f.text_field :name %></p>
	</div>
	<div class="field">
		<p>Info 1: <%= f.text_field :info1 %></p>
	</div>
	<div class="field">
		<p>Info 2: <%= f.text_field :info2 %></p>
	</div>
	<div class="field">
		<p>Info 3: <%= f.text_field :info3 %></p>
	</div>
	<div class="field">
		<p>Deal 1: <%= f.text_field :deal1 %></p>
	</div>
	<div class="field">
		<p>Deal 2: <%= f.text_field :deal2 %></p>
	</div>
	<div class="field">
		<p>Deal 3: <%= f.text_field :deal3 %></p>
	</div>
	<div class="field">
		<p>Deal 4: <%= f.text_field :deal4 %></p>
	</div>
	<div class="action">
		<%= f.submit "Create" %>
	</div>
<% end %>