<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FlashingDeals Newsletter</title>
		<%= favicon_link_tag 'favicon.ico' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
	    .clear {
				height: 0;
				font-size: 1px;
				margin: 0;
				padding: 0;
				line-height: 0;
				clear: both;
			}
    	#newsletter {
    		width: 600px;
    		background: rgb(255, 255, 255);
    		border: 1px solid rgb(148, 222, 240);
    		margin: 0 auto;
    	}
    	#header {
    		background: rgb(173, 217, 228);
    	}
    	#logo {
    		width: 464px;
    		padding: 20px 0px 5px 20px;
    	}
    	#follow {
    		height: 20px;
    		width: 90px;
    		padding-right: 20px;
    	}
    	#follow a {
    		text-decoration: none;
    	}
    	#follow img#follow_us {
    		width: 40px;
    		height: 20px;
    		float: left;
    		margin: 0;
    	}
    	#follow img {
    		width: 20px;
    		height: 20px;
    		margin: 0px 2px;
    		float: right;
    		-webkit-border-radius: 2px;
    		-khtml-border-radius: 2px;
    		-moz-border-radius: 2px;
    		-ms-border-radius: 2px;
    		-o-border-radius: 2px;
    		border-radius: 2px;
    	}
    	#follow p {
    		font-family: Helvetica, Arial;
    		font-size: 12px;
    		color: rgb(75, 75, 75);
    		height: 20px;
    		margin: 0;
    		line-height: 22px;
    	}
    	.space {
    		height: 5px;
    	}
    	.info {
    		padding: 10px 20px 0px 20px;
    	}
    	.info p {
    		font-family: Helvetica, Arial;
    		font-size: 14px;
    		color: rgb(75, 75, 75);
    		margin: 0;
    		line-height: 18px;
    	}
    	#one_deal {
    		padding: 10px 20px 0px 20px;
    		text-align: center;
    	}
    	#single_deal {
    		width: 100%;
    		padding: 10px;
    		border: 1px dotted rgb(200, 200, 200);
    	}
    	#single_deal_image {
    		width: 200px;
    		vertical-align: top;
    		text-align: center;
    	}
    	#single_deal_image img {
    		max-width: 200px;
    		max-height: 200px;
    	}
    	#single_deal_name {
    		text-align: left;
    		vertical-align: top;
    		padding-left: 5px;
    	}
    	#single_deal_name p.name {
    		font-family: Helvetica, Arial;
    		font-size: 14px;
    		color: rgb(75, 75, 75);
    		margin: 0;
    		line-height: 18px;
    	}
    	#single_deal_name p.site {
    		font-family: Helvetica, Arial;
    		font-size: 12px;
    		color: rgb(150, 150, 150);
    		margin: 0;
    		margin-top: 3px;
    	}
    	#single_deal_name table {
    		width: 100%;
    	}
    	#single_deal_price {
    		width: 50%;
    		text-align: center;
    	}
    	#single_deal_view_deal {
    		width: 50%;
    		text-align: center;
    		padding-top: 10px;
    	}
    	.price {
    		font-family: Helvetica, Arial;
    		font-weight: bold;
    		font-size: 20px;
    		color: rgb(75, 75, 75);
    		margin: 0;
    	}
    	#view_more_deals {
    		padding: 0;
    		text-align: center;
    		padding-top: 20px;
    	}
    	#view_more_deals p {
    		margin: 0;
    		height: 26px;
    		font-family: Helvetica, Arial;
    		font-size: 15px;
    		vertical-align: top;
    		color: rgb(75, 75, 75);
    		background: rgb(173, 217, 228);
    		padding: 15px 0px 10px 0px;
    	}
    	#view_more_deals img {
    		width: 165px;
    		height: 26px;
    	}
    	#unsubscribe {
    		width: 600px;
    		margin: 0 auto;
    	}
    	.unsubscribe {
    		font-family: Verdana;
    		font-size: 11px;
    		color: rgb(150, 150, 150);
    		margin: 0;
    		margin-top: 40px;
    	}
    </style>
	</head>
	<body>
		<table id="newsletter">
			<tr id="header">
				<td>
					<table>
						<tr>
							<td id="logo">
								<%= link_to("http://www.flashingdeals.com", :target => "_blank") do %>
									<img src="http://s3.amazonaws.com/flashingdeals_admin/logo_beta.png">
								<% end %>
							</td>
							<td id="follow">
								<p>
									<img id="follow_us" src="http://s3.amazonaws.com/flashingdeals_admin/follow_words.jpg">
									<%= link_to("http://twitter.com/FlashingDeals", :id => "twitter", :target => "_blank") do %>
										<img src="/assets/twitter_button.png">
									<% end %>
									<%= link_to("http://www.facebook.com/FlashingDeals", :id => "facebook", :target => "_blank") do %>
										<img src="/assets/facebook_button.png">
									<% end %>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="space"></td>
			</tr>
			<% unless @newsletter.info1.nil? || @newsletter.info1.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info1 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.info2.nil? || @newsletter.info2.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info2 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.info3.nil? || @newsletter.info3.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info3 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.info4.nil? || @newsletter.info4.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info4 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.info5.nil? || @newsletter.info5.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info5 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.info6.nil? || @newsletter.info6.blank? %>
				<tr>
					<td class="info">
						<p><%= @newsletter.info6 %></p>
					</td>
				</tr>
			<% end %>
			<% unless @newsletter.deal1.nil? || @newsletter.deal1.blank? %>
				<tr>
					<td class="info">
						<p>Here are some of today's Featured Deals:</p>
					</td>
				</tr>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal1).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal1).name %></p>
									<% unless Deal.find(@newsletter.deal1).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal1).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal1).price.blank? && Deal.find(@newsletter.deal1).discount != nil %>
														<%= Deal.find(@newsletter.deal1).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal1).price.blank? && Deal.find(@newsletter.deal1).discount.blank? && Deal.find(@newsletter.deal1).value.blank? && Deal.find(@newsletter.deal1).savings != nil %>
														$<%= Deal.find(@newsletter.deal1).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal1).price.blank? || Deal.find(@newsletter.deal1).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal1).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal1).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal1), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal2.nil? || @newsletter.deal2.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal2).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal2).name %></p>
									<% unless Deal.find(@newsletter.deal2).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal2).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal2).price.blank? && Deal.find(@newsletter.deal2).discount != nil %>
														<%= Deal.find(@newsletter.deal2).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal2).price.blank? && Deal.find(@newsletter.deal2).discount.blank? && Deal.find(@newsletter.deal2).value.blank? && Deal.find(@newsletter.deal2).savings != nil %>
														$<%= Deal.find(@newsletter.deal2).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal2).price.blank? || Deal.find(@newsletter.deal2).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal2).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal2).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal2), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal3.nil? || @newsletter.deal3.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal3).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal3).name %></p>
									<% unless Deal.find(@newsletter.deal3).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal3).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal3).price.blank? && Deal.find(@newsletter.deal3).discount != nil %>
														<%= Deal.find(@newsletter.deal3).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal3).price.blank? && Deal.find(@newsletter.deal3).discount.blank? && Deal.find(@newsletter.deal3).value.blank? && Deal.find(@newsletter.deal3).savings != nil %>
														$<%= Deal.find(@newsletter.deal3).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal3).price.blank? || Deal.find(@newsletter.deal3).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal3).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal3).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal3), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal4.nil? || @newsletter.deal4.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal4).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal4).name %></p>
									<% unless Deal.find(@newsletter.deal4).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal4).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal4).price.blank? && Deal.find(@newsletter.deal4).discount != nil %>
														<%= Deal.find(@newsletter.deal4).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal4).price.blank? && Deal.find(@newsletter.deal4).discount.blank? && Deal.find(@newsletter.deal4).value.blank? && Deal.find(@newsletter.deal4).savings != nil %>
														$<%= Deal.find(@newsletter.deal4).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal4).price.blank? || Deal.find(@newsletter.deal4).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal4).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal4).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal4), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal5.nil? || @newsletter.deal5.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal5).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal5).name %></p>
									<% unless Deal.find(@newsletter.deal5).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal5).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal5).price.blank? && Deal.find(@newsletter.deal5).discount != nil %>
														<%= Deal.find(@newsletter.deal5).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal5).price.blank? && Deal.find(@newsletter.deal5).discount.blank? && Deal.find(@newsletter.deal5).value.blank? && Deal.find(@newsletter.deal5).savings != nil %>
														$<%= Deal.find(@newsletter.deal5).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal5).price.blank? || Deal.find(@newsletter.deal5).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal5).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal5).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal5), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal6.nil? || @newsletter.deal6.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal6).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal6).name %></p>
									<% unless Deal.find(@newsletter.deal6).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal6).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal6).price.blank? && Deal.find(@newsletter.deal6).discount != nil %>
														<%= Deal.find(@newsletter.deal6).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal6).price.blank? && Deal.find(@newsletter.deal6).discount.blank? && Deal.find(@newsletter.deal6).value.blank? && Deal.find(@newsletter.deal6).savings != nil %>
														$<%= Deal.find(@newsletter.deal6).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal6).price.blank? || Deal.find(@newsletter.deal6).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal6).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal6).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal6), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal7.nil? || @newsletter.deal7.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal7).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal7).name %></p>
									<% unless Deal.find(@newsletter.deal7).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal7).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal7).price.blank? && Deal.find(@newsletter.deal7).discount != nil %>
														<%= Deal.find(@newsletter.deal7).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal7).price.blank? && Deal.find(@newsletter.deal7).discount.blank? && Deal.find(@newsletter.deal7).value.blank? && Deal.find(@newsletter.deal7).savings != nil %>
														$<%= Deal.find(@newsletter.deal7).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal7).price.blank? || Deal.find(@newsletter.deal7).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal7).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal7).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal7), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<% unless @newsletter.deal8.nil? || @newsletter.deal8.blank? %>
				<tr>
					<td id="one_deal">
						<table id="single_deal">
							<tr>
								<td id="single_deal_image">
									<%= image_tag Deal.find(@newsletter.deal8).image %>
								</td>
								<td id="single_deal_name">
									<p class="name"><%= Deal.find(@newsletter.deal8).name %></p>
									<% unless Deal.find(@newsletter.deal8).site.nil? %>
										<p class="site">at <%= Deal.find(@newsletter.deal8).site %></p>
									<% end %>
									<table>
										<tr>
											<td id="single_deal_price">
												<p class="price">
													<% if Deal.find(@newsletter.deal8).price.blank? && Deal.find(@newsletter.deal8).discount != nil %>
														<%= Deal.find(@newsletter.deal8).discount.round %>% Off
													<% elsif Deal.find(@newsletter.deal8).price.blank? && Deal.find(@newsletter.deal8).discount.blank? && Deal.find(@newsletter.deal8).value.blank? && Deal.find(@newsletter.deal8).savings != nil %>
														$<%= Deal.find(@newsletter.deal8).savings.round %> Off
													<% elsif Deal.find(@newsletter.deal8).price.blank? || Deal.find(@newsletter.deal8).price.nil? %>
														$
													<% elsif Deal.find(@newsletter.deal8).price == 0 %>
														Free
													<% else %>
														<%= number_to_currency(Deal.find(@newsletter.deal8).price) %>
													<% end %>
												</p>
											</td>
											<td id="single_deal_view_deal">
												<%= link_to(Deal.find(@newsletter.deal8), :target => "_blank") do %>
													<%= image_tag "http://s3.amazonaws.com/flashingdeals_admin/view_deal_l.png" %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				<tr>
			<% end %>
			<tr>
				<td id="view_more_deals">
					<p>
						View more at&nbsp;
						<%= link_to("http://www.flashingdeals.com/featured", :target => "_blank") do %>
							<img src="http://s3.amazonaws.com/flashingdeals_admin/logo_beta.png">
						<% end %>
					</p>
				</td>
			</tr>
		</table>
		<table id="unsubscribe">
			<tr>
				<td>
					<p class="unsubscribe">
						You are receiving this newsletter because you are an existing member of our community. 
						If you no longer wish to receive newsletters on the best deals as well as updates, you may unsubscribe <%= link_to "here", unsubscribe_path, :target => "_blank" %>.
					</p>
				</td>
			</tr>
		</table>
		<%= link_to "Back", newsletters_path %>
	</body>
</html>