<div id="box_friend_<%= user.id %>" class="box_friend" onmouseover="showBoxFriendAction(<%= user.id %>)" onmouseout="hideBoxFriendAction();" title="<%= pluralize(user.comments.size + user.subcomments.size, 'Comment') %>">
	<div id="box_friend_number">
		<h1><%= pluralize(user.friends.size + user.inverse_friends.size, 'Friend') %></h1>
	</div>
	<div id="box_friend_image_container">
		<%= link_to(user) do %>
			<%= image_tag(user.photo.url) %>
		<% end %>
	</div>
	<% unless user == current_user %>
		<div id="box_friend_action" class="box_friend_add box_friend_add_<%= user.id %>">
			<% if current_user.friends.include?(user) || current_user.inverse_friends.include?(user) %>
				<%= render :partial => "defriend", :locals => { :friend => user } %>
			<% elsif user == current_user %>
			
			<% else %>
				<% if current_user.request_friends.include?(user) %>
					<%= render :partial => "accept_request", :locals => { :friend => user } %>
				<% elsif current_user.pending_friends.include?(user) %>
					<%= render 'friend_request_pending' %>
				<% else %>
					<%= render :partial => "add_friend_from_friend_partial", :locals => { :friend => user } %>
				<% end %>
			<% end %>
		</div>
	<% end %>
	<div id="box_friend_name">
		<h1><%= user.name %></h1>
	</div>
</div>