<div class="deal_single" id="user_deal_<%= deal.id %>">
	<div class="col1">
		<% if deal.image.nil? %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image_container") do %>
				<% if deal.metric >= 4 %>
					<%= lightning_deal_2 %>
				<% end %>
				<div class="deal_image" style="background-image:url(<%= deal.image %>)"></div>
				<%= image_tag("#{deal.image}", :id => "deal_partial_image") %>
			<% end %>
			</a>
		<% else %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image_container") do %>
				<% if deal.metric >= 4 %>
					<%= lightning_deal_2 %>
				<% end %>
				<div class="deal_image" style="background-image:url(<%= deal.image.split(' ').join("%20") %>)"></div>
				<%= image_tag("#{deal.image}", :id => "deal_partial_image") %>
			<% end %>
			</a>
		<% end %>
		<div class="watch_status">
			<div id="user_deals_unwatch">
				<% if current_user == @user %>
					<%= form_for current_user.relationships.find_by_watched_id(deal), :html => { :method => :delete }, :remote => true do |f| %>
						<div class="actions"><%= f.submit "Unwatch" %></div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col2">
		<h1><%= link_to deal.name, deal %></h1>
		<p><span class="light_grey">Watched:</span> <%= Relationship.find_by_watcher_id_and_watched_id(@user.id, deal.id).created_at.strftime("%A, %b %d") %></p>
	</div>
	<div class="col3">
		<div class="price">
			<h2>
				<% if deal.coupon.nil? && deal.rebate.nil? || deal.coupon.nil? && deal.rebate.blank? || deal.coupon.blank? && deal.rebate.blank? || deal.coupon.blank? && deal.rebate.nil? %>
					<%= link_to "DEAL!", frame_deal_path(deal), :target => "_blank" %>
				<% else %>
					<%= link_to "DEAL!", frame_deal_path(deal, :coupon => "yes"), :target => "_blank" %>
				<% end %>
			</h2>
			<% if deal.price.blank? && deal.discount != nil %>
				<h1><%= deal.discount.round %>% Off</h1>
			<% elsif deal.price.blank? %>
				<h1>$</h1>
			<% elsif deal.price == 0 %>
				<h1>Free</h1>
			<% else %>
				<h1>$<%= (deal.price * 1.0).round %></h1>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>