<div id="getting_started">
	<div id="getting_started_start">
		<p><b>Getting Started</b> <span id="getting_started_hover">(hover over each section for more info)</span></p>
	</div>
	<div id="getting_started_end">
		<p><b>Complete</b></p>
	</div>
	<div id="getting_started_progress">
		<div class="getting_started_section" id="getting_started_section_1">
			<div class="getting_started_section_info" id="getting_started_section_1_info">
				<div class="getting_started_section_info_arrow"></div>
				<p>Express who you are and personalize your profile picture. Hover over "<%= current_user.name.split(' ')[0] %>" in the top right corner and click on "Settings" to change your picture. <%= "(Complete)" if current_user.gss1 == "true" %></p>
			</div>
			<div class="getting_started_section_name">
				<p>Smile</p>
			</div>
			<% if current_user.gss1 == "true"  %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_100" %>
				</div>
			<% else %>
				<div class="getting_started_bar"></div>
			<% end %>
		</div>
		<div class="getting_started_section" id="getting_started_section_2">
			<div class="getting_started_section_info" id="getting_started_section_2_info">
				<div class="getting_started_section_info_arrow"></div>
				<p>Interact with the community. Comment on a deal or reply to one. Then click the up or down arrow to like or dislike the deal. 
					<% if current_user.gss2 == "100" %>
						(Complete)
					<% elsif current_user.gss2 == "50" %>
						(50% Complete)
					<% end %>
				</p>
			</div>
			<div class="getting_started_section_name">
				<p>Speak</p>
			</div>
			<% if current_user.gss2 == "100" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_100" %>
				</div>
			<% elsif current_user.gss2 == "50" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_50" %>
				</div>
			<% else %>
				<div class="getting_started_bar"></div>
			<% end %>
		</div>
		<div class="getting_started_section" id="getting_started_section_3">
			<div class="getting_started_section_info" id="getting_started_section_3_info">
				<div class="getting_started_section_info_arrow"></div>
				<p>Make friends with at least 3 other users. Click on another user's name to see their profile page. Then click "Add Friend" to request a friendship. 
					<% if current_user.gss3 == "100" %>
						(Complete)
					<% elsif current_user.gss3 == "66" %>
						(66% Complete)
					<% elsif current_user.gss3 == "33" %>
						(33% Complete)
					<% end %>
				</p>
			</div>
			<div class="getting_started_section_name">
				<p>Friends</p>
			</div>
			<% if current_user.gss3 == "100" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_100" %>
				</div>
			<% elsif current_user.gss3 == "66" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_66" %>
				</div>
			<% elsif current_user.gss3 == "33" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_33" %>
				</div>
			<% else %>
				<div class="getting_started_bar"></div>
			<% end %>
		</div>
		<div class="getting_started_section" id="getting_started_section_4">
			<div class="getting_started_section_info" id="getting_started_section_4_info">
				<div class="getting_started_section_info_arrow"></div>
				<p>FlashingDeals is more fun with your friends. Click "Invite" in the top header and share your invite link on Facebook, Twitter, or email them to your friends. <%= "(Complete)" if current_user.gss4 == "true" %></p>
			</div>
			<div class="getting_started_section_name">
				<p>Share</p>
			</div>
			<% if current_user.gss4 == "true" %>
				<div class="getting_started_bar">
					<%= image_tag "/assets/my_points_progress.jpg", :class => "getting_started_100" %>
				</div>
			<% else %>
				<div class="getting_started_bar"></div>
			<% end %>
		</div>
	</div>
</div>