<% if current_user.friends.include?(@user) || current_user.inverse_friends.include?(@user) %>
	<% if @message.nil? %>
		<%= link_to(message_user_path(@user), :id => "userShowMessage", "data-transition" => "slide") do %>
			Send Message
		<% end %>
	<% else %>
		<%= link_to(@message, :id => "userShowMessage", "data-transition" => "slide") do %>
			Send Message
		<% end %>
	<% end %>
<% else %>
	<div class="messageRequestContainer">
		<div class="messageRequestRequest">
			<% if current_user.request_friends.include?(@user) %>
				<%= form_for @user.friendships.find_by_friend_id(current_user), :html => { :method => :put, "data-ajax" => false }, :remote => true do |f| %>
					<%= f.hidden_field :user_id, :value => @user.id %>
					<%= f.hidden_field :approved, :value => true %>
					<div class="actions">
						<%= f.submit "Accept Request", "data-role" => "none" %>
					</div>
				<% end %>
			<% elsif current_user.pending_friends.include?(@user) %>
				<p class="friendRequestPending">Request Pending</p>
			<% else %>
				<%= form_for current_user.friendships.build(:friend_id => @user.id), :remote => true, :html => { "data-ajax" => false } do |f| %>
					<%= f.hidden_field :friend_id %>
					<%= f.hidden_field :user_id, :value => @user.id %>
					<div class="actions">
						<%= f.submit "Add Friend", "data-role" => "none" %>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="messageRequestSendMessage">
			<% if @message.nil? %>
				<%= link_to(message_user_path(@user), :id => "userShowMessage", "data-transition" => "slide") do %>
					Send Message
				<% end %>
			<% else %>
				<%= link_to(@message, :id => "userShowMessage", "data-transition" => "slide") do %>
					Send Message
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>