<div id="my_points">
	<div id="my_points_next_level">
		<%= @user.points %><span class="grey_200">/</span><%= @user.next_level %>
	</div>
	<div id="my_points_title">
		<p>Level <%= @user.level %> <%= @user.title %></p>
	</div>
	<div id="my_points_progress" title="<%= (@user.progress.round(2) * 100).round %>%">
		<%= image_tag "/assets/my_points_progress.jpg" %>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#my_points_progress img").width(<%= @user.progress %> * 209)
})
</script>