<div class="deal_single" id="shared_deal_<%= deal.id %>">
	<div class="col1">
		<% if deal.image.nil? %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image_container") do %>
				<% if deal.metric >= 2 && deal.metric < 4 %>
					<%= lightning_deal_1 %>
				<% elsif deal.metric >= 4 %>
					<%= lightning_deal_2 %>
				<% end %>
				<div class="deal_image" style="background-image:url(<%= deal.image %>)"></div>
				<%= image_tag("#{deal.image}", :id => "deal_partial_image") %>
			<% end %>
			</a>
		<% else %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image_container") do %>
				<% if deal.metric >= 2 && deal.metric < 4 %>
					<%= lightning_deal_1 %>
				<% elsif deal.metric >= 4 %>
					<%= lightning_deal_2 %>
				<% end %>
				<div class="deal_image" style="background-image:url(<%= deal.image.split(' ').join("%20") %>)"></div>
				<%= image_tag("#{deal.image}", :id => "deal_partial_image") %>
			<% end %>
			</a>
		<% end %>
		<div class="watch_status">
			<div id="user_deals_unwatch">
				<%= form_for current_user.inverse_shares.find_by_deal_id(deal), :html => { :method => :delete }, :remote => true do |f| %>
					<div class="actions"><%= f.submit "Remove" %></div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col2">
		<h1><%= link_to deal.name, deal %></h1>
		<ul>
			<% unless deal.site.nil? || deal.site.empty? %>
				<li><p><span class="light_grey">From:</span> <%= deal.site %></p></li>
			<% end %>
			<li><p><span class="light_grey">Shared:</span> <%= Share.find_by_friend_id_and_deal_id(@user.id, deal.id).created_at.strftime("%A, %b %d") %></p></li>
		</ul>
		<div id="shared_deal_shared_by">
			<p><span class="light_grey">Shared by:</span> <%= link_to "#{User.find(current_user.inverse_shares.find_by_deal_id(deal.id).user_id).name}" , User.find(current_user.inverse_shares.find_by_deal_id(deal.id).user_id) %></p>
		</div>
	</div>
	<div class="col3">
		<div class="price">
			<h2><%= link_to "DEAL!", frame_deal_path(deal), :target => "_blank" %></h2>
			<% if deal.price.blank? && deal.discount != nil %>
				<h1><%= deal.discount.round %>% Off</h1>
			<% elsif deal.price.blank? %>
				<h1>$</h1>
			<% elsif deal.price == 0 %>
				<h1>Free</h1>
			<% else %>
				<h1>$<%= (deal.price * 1.0).round %></h1>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>