<div id="signup_message">
	<div id="close_signup_message">
		<%= link_to(hide_signup_message_path, :id => "close_signup_message_button", :title => "Hide This Message", :remote => true) do %>
			<%= image_tag("/assets/close.png") %>
		<% end %>
	</div>
	<div id="signup_message_header">
		<h1>Sign Up <span class="green">&</span> Be A Part Of The Community</h1>
	</div>
	<div id="signup_message_body">
		<div id="signup_message_info">
			<p>FlashingDeals is a site dedicated to bringing our members the best deals on the internet.</p> 
			<p>We aim to do all the homework and research on every deal so you know that what you order through us is the lowest price.</p>
			<p>Members can also submit their own deals, interact on our social forums, and have access to community deals and exclusive deals.</p>
		</div>
		<div id="signup_message_form">
			<%= form_for(User.new) do |f| %>
				<div class="field">
					<p>Name: <%= f.text_field :name, :autocomplete => "off", :tabindex => 1 %></p>
				</div>
				<div class="field">
					<p>Email: <%= f.text_field :email, :autocomplete => "off", :tabindex => 2 %></p>
				</div>
				<div class="field">
					<p>Password: <%= f.password_field :password, :tabindex => 3 %></p>
				</div>
				<div class="field">
					<p>Confirm: <%= f.password_field :password_confirmation, :tabindex => 4 %></p>
				</div>
				<div class="field" id="accept_terms">
					<%= f.check_box :accept_terms, :tabindex => 5 %> I agree to the <%= link_to "Terms of Service", terms_path, :target => "_blank" %> and <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
				</div>
				<div class="actions">
					Already a member? <%= link_to "Login", login_path %> <%= f.submit "Sign Up", :tabindex => 6 %>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>