<li>
	<div id="user_partial">
		<div id="user_partial_gravatar">
			<%= link_to user do %>
	  		<%= image_tag(user.photo.url, :id => "user_photo_small") %>
	  	<% end %>
	  </div>
	  <div id="delete_user">
		  <% if current_user.gm? %>
		  	<%= link_to "Delete User", user, :method => :delete, :confirm => "Are you sure you want to delete this user?", :title => "Delete #{user.name}" %>
		  <% end %>
		</div>
	  <div id="user_partial_name">
	  	<p>
		  	<%= link_to user do %>
		  		<strong><%= user.name %></strong>
		  	<% end %>
		  	(Level <%= user.level %>)
		  	<% unless user.active.nil? %>
		  		<span class="grey_150">last active</span> <%= user.active.strftime("%A, %b %d") %> <span class="grey_150">at</span> <%= user.active.strftime("%I:%M %p") %>
		  	<% end %>
  		</p>
  		<p>
  			<span class="grey_150">Joined</span> <%= user.created_at.strftime("%A, %b %d") %> <span class="grey_150">at</span> <%= user.created_at.strftime("%I:%M %p") %>
  		</p>
	  	<p><%= user.email %></p>
	  <div id="user_partial_stats">
	  	<ul>
	  		<li>Comments: <span class="grey_75"><%= (user.comments.size + user.subcomments.size) %></span></li>
	  		<li>Total Deals Watched: <span class="grey_75"><%= user.watching.count %></span></li>
	  		<li>Friends: <span class="grey_75"><%= (user.friends.size + user.inverse_friends.size) %></span></li>
	  		<% if signed_in? %>
	  			<% if current_user.admin? %>
	  				<li><p>ID: <span class="grey_75"><%= user.id %></span></p></li>
	  			<% end %>
	  		<% end %>
	  	</ul>
	  	<%= div_for(user, :class => "joined") do %>
	  		Joined: <%= user.created_at.strftime("%A") %> at <%= user.created_at.strftime("%I:%M %p") %> (<%= user.created_at.strftime("%b %d, %Y") %>)
	  	<% end %>
	  </div>
	</div>
</li>