<div id="edit_profile">
	<p class="edit_profile_header">Edit My Profile</p>
	<div class="edit_profile_photo">
		<%= image_tag(@user.photo.url) %>
	</div>
	<div class="edit_profile_form">
		<%= form_for @user, :html => { :multipart => true } do |f| %>
			<%= render 'error_messages', :object => f.object %>
			<ul>
				<li>
					<p class="edit_profile_label">Name</p>
					<div class="edit_profile_field">
						<%= f.text_field :name, :autocomplete => "off" %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Email</p>
					<div class="edit_profile_field">
						<%= f.text_field :email, :autocomplete => "off" %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Password</p>
					<div class="edit_profile_field">
						<%= f.password_field :password, :placeholder => "To change your password, type here" %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Confirm</p>
					<div class="edit_profile_field">
						<%= f.password_field :password_confirmation, :placeholder => "Confirm your new password" %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Photo</p>
					<div class="edit_profile_field">
						<%= f.file_field :photo %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Photo URL</p>
					<div class="edit_profile_field">
						<%= f.text_field :image_url, :autocomplete => "off", :placeholder => "Upload photo from URL" %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Time Zone</p>
					<div class="edit_profile_field">
						<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
					</div>
					<div class="clear"></div>
				</li>
				<% unless @user.subscribe? %>
					<li>
						<p class="edit_profile_label">Subscribe</p>
						<div class="edit_profile_field">
							<p class="edit_profile_field_label">Receive important newsletters occasionally</p>
							<%= f.check_box :subscribe %>
						</div>
						<div class="clear"></div>
					</li>
				<% end %>
				<% unless @user.reply_alert? %>
					<li>
						<p class="edit_profile_label">Reply Alerts</p>
						<div class="edit_profile_field">
							<p class="edit_profile_field_label">Receive reply alerts in your email</p>
							<%= f.check_box :reply_alert %>
						</div>
						<div class="clear"></div>
					</li>
				<% end %>
				<% unless @user.friend_alert? %>
					<li>
						<p class="edit_profile_label">Friend Alerts</p>
						<div class="edit_profile_field">
							<p class="edit_profile_field_label">Receive friend request alerts in your email</p>
							<%= f.check_box :friend_alert %>
						</div>
						<div class="clear"></div>
					</li>
				<% end %>
				<li>
					<p class="edit_profile_label">Private</p>
					<div class="edit_profile_field">
						<p class="edit_profile_field_label">Only friends can see my watched deals</p>
						<%= f.check_box :private %>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<p class="edit_profile_label">Watch Duration</p>
					<div class="edit_profile_field" id="deal_duration">
						<p class="edit_profile_field_label">Set how many months my deals are watched</p>
						<ul>
							<li><%= f.radio_button(:deal_duration, 1) %>
								<% if @user.deal_duration == 1 %>
									<p><span class="green">1</span></p>
								<% else %>
									<p>1</p>
								<% end %>
							</li>
							<li><%= f.radio_button(:deal_duration, 2) %>
								<% if @user.deal_duration == 2 %>
									<p><span class="green">2</span></p>
								<% else %>
									<p>2</p>
								<% end %>
							</li>
							<li><%= f.radio_button(:deal_duration, 3) %>
								<% if @user.deal_duration == 3 %>
									<p><span class="green">3</span></p>
								<% else %>
									<p>3</p>
								<% end %>
							</li>
							<li><%= f.radio_button(:deal_duration, 4) %>
								<% if @user.deal_duration == 4 %>
									<p><span class="green">4</span></p>
								<% else %>
									<p>4</p>
								<% end %>
							</li>
						</ul>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
			<div class="actions">
				<%= f.submit "Update" %>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>