<%= render 'shared/account_settings_header' %>
<div id="content" data-role="content">
	<div class="accountSettings">
		<%= link_to(name_user_path(@user), :class => "accountSettingsLink") do %>
			<p class="accountSettingsLabel">Name</p>
			<p class="accountSettingsField"><%= @user.name %></p>
		<% end %>
		<%= link_to(email_user_path(@user), :class => "accountSettingsLink") do %>
			<p class="accountSettingsLabel">Email</p>
			<p class="accountSettingsField" id="accountSettingsEmail"><%= @user.email %></p>
		<% end %>
		<%= link_to(password_user_path(@user), :class => "accountSettingsLink") do %>
			<p class="accountSettingsLabel">Password</p>
			<p class="accountSettingsField">Change password</p>
		<% end %>
		<%= link_to(photo_user_path(@user), :class => "accountSettingsLink noBorder") do %>
			<p class="accountSettingsLabel">Photo</p>
			<p class="accountSettingsField">Change photo</p>
		<% end %>
	</div>
</div>