<%= render 'shared/account_settings_header' %>
<div id="content" data-role="content">
	<div class="userEditForm">
		<%= form_for @user, :remote => true, :html => { "data-ajax" => false } do |f| %>
			<div class="field">
				<p class="accountSettingsLabel">Email</p>
				<p id="emailBlank" class="signupRegex">Please enter your email address</p>
				<p id="emailInvalid" class="signupRegex">Please enter a valid email address</p>
				<%= f.text_field :email, :autocomplete => "off", :tabindex => 1 %>
			</div>
			<div class="userEditButtons">
				<div class="userEditCancel">
					<%= link_to "Cancel", edit_user_path(@user), "data-role" => "none" %>
				</div>
				<div class="userEditSave">
					<%= f.submit "Save", :id => "userEmailSubmit", "data-role" => "none", :tabindex => 2 %>
				</div>
			</div>
		<% end %>
	</div>
</div>