<div id="gravatar">
	<%= link_to @user do %>
		<%= image_tag(@user.photo.url, :id => "user_photo_medium") %>
	<% end %>
</div>
<div id="user_name">
	<div id="name">
		<h1><%= @user.name %></h1>
	</div>
	<% flash.each do |key, value| %>
  	<div class="flash <%= key %>"><%= value %><%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlash()", :class => "flash_close" %></div>
  <% end %>
  <div id="flash"></div>
</div>
<div class="clear"></div>
<div id="user_table">
	<div id="user_side">
		<h1>Deals watching: <span class="grey_75"><%= @deals.count %></span></h1>
		<% if @user == current_user %>
			<div id="user_side_search">
				<input type="text" name="q" value="" placeholder="Find a friend" autocomplete="off">
			</div>
			<div id="messages_profile">
				<% if current_user.received_messages.where("read = ?", false).count > 0 %>
					<h2><%= link_to "Messages (#{current_user.received_messages.where("read = ?", false).count})", messages_path %></h2>
				<% else %>
					<h2><%= link_to "Messages", messages_path %></h2>
				<% end %>
			</div>
			<% unless current_user.request_friends.empty? %>
			<div id="friend_requests_profile">
				<h2><%= link_to "Friend Requests (#{current_user.request_friends.count})", friend_requests_path %></h2>
			</div>
			<% end %>
			<div id="my_friends_profile">
			<h2>
				<%= link_to(friends_user_path(@user)) do %>
					My Friends <span class="my_friends_count">(<%= (current_user.friends.count + current_user.inverse_friends.count) %>)</span>
				<% end %>
			</h2>
			</div>
			<%= render "shared_deals_profile" %>
			<div id="feedback_header">
				<%= link_to "Feedback", "javascript: void(0)", :id => "feedback" %>
			</div>
			<div id="feedback_form">
				<%= render 'feedbacks/feedback_form' %>
			</div>
		<% else %>
			<div id="add_friend_partial">
				<%= render :partial => "add_friend", :object => @user %>
			</div>
			<div id="messages_profile">
				<h2><%= link_to "Send Message", "javascript: void(0)", :onclick => "showNewMessage();" %></h2>
			</div>
			<div id="my_friends_profile">
			<h2>
				<%= link_to(friends_user_path(@user)) do %>
					Friends <span class="my_friends_count">(<%= (@user.friends.count + @user.inverse_friends.count) %>)</span>
				<% end %>
			</h2>
			</div>
			<% if @user == current_user %>
				<h2><%= link_to "Shared Deals", shared_deals_path %></h2>
			<% end %>
		<% end %>
	</div>
	<% if @user == current_user %>
	<div id="friends">
		<ul id="my_friends_list">
			<%= render :partial => "friend", :collection => @friends, :as => :friend %>
		</ul>
	</div>
	<% else %>
	<div id="friends">
		<ul>
			<%= render :partial => "friend", :collection => @friends, :as => :friend %>
		</ul>
	</div>
	<% end %>
</div>
<script>
(function($) {
        $(document).ready(function() {
          $('input[name="q"]').search('.friend_single', function(on) {
            on.all(function(results) {
              var size = results ? results.size() : 0
              $('#count').text(size + ' results');
            });

            on.reset(function() {
              $('#none').hide();
              $('.friend_single').show();
            });

            on.empty(function() {
              $('#none').show();
              $('.friend_single').hide();
            });

            on.results(function(results) {
              $('#none').hide();
              $('.friend_single').hide();
              results.show();
            });
          });
        });
      })(jQuery);

$('a#feedback').click(function() {
	$('div#feedback_form').slideToggle();
});
</script>