<div id="game_room_left">
	<div id="game_room_user">
		<div id="game_room_user_image">
			<%= link_to @user do %>
				<%= image_tag @user.photo.url %>
			<% end %>
		</div>
		<div id="game_room_user_points">
			<div id="my_points">
				<div id="my_points_next_level">
					<%= @user.points %><span class="grey_200">/</span><%= @user.next_level %>
				</div>
				<div id="my_points_title">
					<p>Level <%= @user.level %> <%= @user.title %></p>
				</div>
				<div id="my_points_progress" title="<%= (@user.progress.round(2) * 100).round %>%">
					<%= image_tag "/assets/my_points_progress.jpg" %>
				</div>
			</div>
		</div>
	</div>
	<div id="current_rewards">
		<p id="current_rewards_label">Current Rewards</p>
		<div id="current_rewards_body">
			<p>Be the first 5 users to reach level 5 and get a $5 gift card from a restaurant or store of your choice.</p>
			<p>More rewards coming soon. Be on the lookout!</p>
		</div>
	</div>
</div>
<div id="leaderboard">
	<div id="leaderboard_header">
		<p id="leaderboard_label">Leaderboard</p>
		<%= link_to "How To Level", '#', :id => "leaderboard_how_to_level" %>
		<div class="clear"></div>
	</div>
	<div id="leaderboard_body">
		<% @users.each do |user| %>
			<div class="leaderboard_user">
				<div class="leaderboard_rank">
					<p><%= @users.index(user) + 1 %>.</p>
				</div>
				<div class="leaderboard_user_photo">
					<%= link_to user do %>
						<%= image_tag user.photo.url %>
					<% end %>
				</div>
				<div class="leaderboard_user_name">
					<p><%= link_to "#{user.name}", user %></p>
				</div>
				<div class="leaderboard_user_level">
					<p>Level <%= user.level %> <%= user.title %> (<%= user.points %> points)</p>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div id="how_to_level">
	<div id="how_to_level_header">
		<%= link_to "Leaderboard", '#', :id => "how_to_level_leaderboard" %>
		<p id="how_to_level_label">How To Level</p>
		<div class="clear"></div>
	</div>
	<div id="how_to_level_body">
		<p>Gain experience and level up.</p>
		<p>You can score points by:</p>
		<ul>
			<li>Sharing deals with your FD friends</li>
			<li>Emailing and sharing your invite link</li>
			<li>Watching deals</li>
			<li>Liking or disliking deals</li>
			<li>Commenting on deals</li>
			<li>Replying to comments</li>
			<li>Adding other users as friends</li>
			<li>Sharing deals on Facebook, Twitter, or via email</li>
			<li>When friends join FlashingDeals through your invite link</li>
		</ul>
		<p>Score enough points and you will receive trophies, badges, achievements, and best of all, treasures!</p>
		<p>Good luck and happy hunting.</p>
	</div>
</div>
<div class="clear"></div>
<div id="trophy_showcase">
	<p id="trophy_showcase_label">Trophies, Badges, & Achievements</p>
	<div id="trophy_showcase_body">
		<div class="award">
			<div class="trophy">
				<%= image_tag "trophy.png" %>
			</div>
			<p>First To Comment</p>
		</div>
		<div class="award">
			<div class="trophy">
			</div>
			<p></p>
		</div>
		<div class="award">
			<div class="trophy">
			</div>
			<p></p>
		</div>
		<div class="award">
			<div class="trophy">
			</div>
			<p></p>
		</div>
		<div class="award">
			<div class="trophy">
			</div>
			<p></p>
		</div>
		<div class="award">
			<div class="trophy">
			</div>
			<p></p>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#my_points_progress img").width(<%= @user.progress %> * 398)
})
</script>