<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %></div>
<% end %>
<div id="invite_your_friends">
	<h1>Invite Your Friends</h1>
	<div id="invite_your_friends_body">
		<p>FlashingDeals is more fun with friends. Keeping these deals a secret has shown to jeopardize friendships.</p> 
		<p>Invite 10 friends and you will get a $10 gift card from a restaurant or store of your choice. Invite 20 friends and get a $25 gift card. The more friends you invite, the more you will receive. There is currently no limit.</p>
		<p>Share your invite link so we can keep track of your invites and reward you.</p>
	</div>
</div>
<div id="share_invite">
	<h1>Share Your Invite</h1>
	<div id="share_invite_body">
		<h2>Your Invite Link</h2>
		<input readonly="readonly" value="http://www.flashingdeals.com/signup/<%= @user.id %>235kjv" id="user_invite_link">
		<div id="share_invite_social">
			<%= link_to("https://www.facebook.com/sharer/sharer.php?u=http://www.flashingdeals.com/signup/#{@user.id}235kjv", :id => "share_invite_facebook", :class => "example3demo") do %>
				<%= image_tag "/assets/facebook_auth.png" %>
				<h3>Share Invite</h3>
			<% end %>
			<a href="https://twitter.com/intent/tweet?original_referer=&text=<%= "Come join me on @FlashingDeals. Friends don't let friends pay full price." %>%20http://www.flashingdeals.com/<%= @user.id %>235kjv" target="_blank" id="share_invite_twitter">
				<%= image_tag("/assets/twitter_auth.png") %>
				<h3>Share Invite</h3>
			</a>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear"></div>
<div id="email_invite">
	<h1>Email Your Invite</h1>
	<div id="email_invite_body">
		<h2>Type in the emails you wish to send your invite to, separate each with a comma</h2>
		<div id="email_invite_field">
			<%= form_tag email_invite_path, :method => :post do %>
				<%= text_field_tag :user_email_invite, params[:user_email_invite], :autocomplete => "off", :placeholder => "bobby@gmail.com, timmy@hotmail.com, johnny@yahoo.com" %>
				<%= submit_tag "Email Invite", :name => nil, :id => "user_email_invite_send", :class => "send_email" %>
			<% end %>
		</div>
		<%= link_to("javascript:void(0);", :id => "add_gmail_contacts") do %>
			<%= image_tag "/assets/gmail.png" %> <h3>Add Gmail Contacts</h3>
		<% end %>
		<div id="gmail_login">
			<%= form_tag invite_gmail_path, :method => :post do %>
				<div class="field">
					<p>Gmail</p>
					<%= text_field_tag :email, params[:email], :id => "gmail_login_email" %>
				</div>
				<div class="field">
					<p>Password</p>
					<%= password_field_tag :password, params[:password], :id => "gmail_login_password" %>
					<%= submit_tag "Submit", :name => nil, :id => "gmail_login_submit" %>
				</div>
			<% end %>
			<h3>FlashingDeals will not store your password.</h3>
		</div>
	</div>
</div>
<div id="sending_emails">
	<%= image_tag "/assets/loading_email.gif" %>
	<div id='sending_emails_words'>
		<em>Please wait one moment as we send out your invites...</em>
	</div>
</div>
<script>
$("a#invite_link").removeClass("not_selected");
$("a#invite_link").addClass("selected");
$('.example3demo').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 375,
	width: 675
});
</script>