<div id="header" data-role="header">
	<%= image_tag "blue_bolt.png", :id => "blueBolt" %>
	<%= link_to "Me", '#', :id => "meLink", :class => "headerLink notSelected", "data-role" => "none" %>
	<ul id="headerNav">
		<li><%= link_to "Featured", root_path, :id => "featuredLink", :class => "headerLink notSelected" %></li>
		<li><%= link_to "My Deals", my_deals_path, :id => "mydealsLink", :class => "headerLink selected" %></li>
	</ul>
</div>
<div id="content" data-role="content">
	<div id="featuredDeals" class="dealList">
		<%= render :partial => 'deals/list_deal', :collection => @deals, :as => :deal %>
		<%= render 'deals/endless_pagination' %>
	</div>
</div>