<div id="my_deals">
	<div id="my_deals_side">
		<div id="my_deals_photo">
			<%= link_to(@user) do %>
				<%= image_tag(@user.photo.url, :id => "user_photo_medium") %>
			<% end %>
		</div>
		<div id="my_deals_info">
			<div id="my_deals_watching">
				<p>Friends: <span class="my_friends_count"><%= (current_user.friends.count + current_user.inverse_friends.count) %></span></p>
			</div>
			<div class="my_deals_div">
				<p>
					<% if current_user.received_messages.where("read = ?", false).count > 0 %>
						<%= link_to "Messages (#{current_user.received_messages.where("read = ?", false).count})", messages_path %>
					<% else %>
						<%= link_to "Messages", messages_path %>
					<% end %>
				</p>
			</div>
			<div class="my_deals_div">
				<p>
					<% if current_user.inverse_deals.where("posted > ?", current_user.duration).size == 0 %>
						<%= link_to "Shared", shared_deals_path %>
					<% else %>
						<%= link_to "Shared (#{current_user.inverse_deals.where("posted > ?", current_user.duration).size})", shared_deals_path %>
					<% end %>
				</p>
			</div>
			<%= render "authentications/auth_facebook" %>
		</div>
	</div>
	<div id="my_deals_deals">
		<div id="my_deals_name">
			<div id="grid_search_form">
				<%= form_tag my_friends_path, :method => :get do %>
					<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
					<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
				<% end %>
			</div>
			<h1><%= @user.name %></h1>
		</div>
		<div id="friend_container" class="my_friend_container">
			<%= render :partial => "box_friend", :collection => @friends, :as => :user %>
		</div>
	</div>
	<div class="clear"></div>
</div>