<div id="signup_info">
	<div id="signup_info_header">
		<h1>Why join<span class="green">?</span></h1>
	</div>
	<div id="signup_info_body">
		<p>FlashingDeals is a site dedicated to bringing our members the best deals on the internet.</p> 
			<p>We aim to do all the homework and research on every deal so you know that what you order through us is the lowest price.</p>
			<p>Members can also submit their own deals, interact on our social forums, and have access to community deals and exclusive deals.</p>
	</div>
</div>
<div id="signup">
	<div id="signup_header">
		<h1>Sign Up and be the <span class="green">first to know</span></h1>
	</div>
	<div id="signup_form">
		<%= form_for(@user) do |f| %>
			<%= render 'error_messages', :object => f.object %>
			<div class="field">
				<p>Name: <%= f.text_field :name, :autocomplete => "off", :tabindex => 1 %></p>
			</div>
			<div class="field">
				<p>Email: <%= f.text_field :email, :autocomplete => "off", :tabindex => 2 %></p>
			</div>
			<div class="field">
				<p>Password: <%= f.password_field :password, :tabindex => 3 %></p>
			</div>
			<div class="field">
				<p>Confirm: <%= f.password_field :password_confirmation, :tabindex => 4 %></p>
			</div>
			<div class="field" id="accept_terms">
				<%= f.check_box :accept_terms, :tabindex => 5 %> I agree to the <%= link_to "Terms of Service", terms_path, :target => "_blank" %> and <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
			</div>
			<div class="actions">
				Already a member? <%= link_to "Login", "javascript:void(0);", :class => "alertdim" %> <%= f.submit "Sign Up", :tabindex => 6 %>
			</div>
		<% end %>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#community_deals_header_link").hide();
	$("#signup_header_link").hide();
});
</script>