<div id="signup_info">
	<div id="signup_info_header">
		<h1>Why join<span class="green">?</span></h1>
	</div>
	<div id="signup_info_body">
		<%= render "users/signup_info" %>
		<div id="signup_facebook">
			<%= link_to("/auth/facebook", :id => "facebook_signup") do %>
				<%= image_tag "/assets/facebook_auth.png" %> <h3>Signup using <b>Facebook</b></h3>
			<% end %>
		</div>
	</div>
</div>
<div id="signup">
	<div id="signup_header">
		<h1>Sign up for <span class="green">free</span></h1>
	</div>
	<div id="signup_form">
		<% if flash[:error] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error] %></li>
					<li>If you have an existing account with FlashingDeals and would like to Login with Facebook:</li>
					<ol>
						<li>Login to FlashingDeals</li>
						<li>Click the "Connect with Facebook" button on your profile page</li>
					</ol>
				<ul>
			</div>
		<% elsif flash[:error_2] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error_2] %></li>
				<ul>
			</div>
		<% end %>
		<%= form_for(@user) do |f| %>
			<%= render 'error_messages', :object => f.object %>
			<div class="field">
				<%= f.text_field :name, :autocomplete => "off", :tabindex => 1, :placeholder => "Full name" %>
				<div class="user_signup_messages">
					<div id="user_name_example" class="user_signup_example">
						<p>Your full name (e.g. Jane Doe)</p>
					</div>
					<div id="user_name_blank" class="user_signup_error">
						Please enter your name
					</div>
					<div id="user_name_invalid" class="user_signup_error">
						Name is invalid (can contain A-Z, 0-9, -, _, or 1 space)
					</div>
					<div id="user_name_good" class="user_signup_good">
						Name looks good
					</div>
				</div>
			</div>
			<div class="field">
				<%= f.text_field :email, :autocomplete => "off", :tabindex => 2, :placeholder => "Email address" %>
				<div class="user_signup_messages">
					<div id="user_email_example" class="user_signup_example">
						<p>Your email address (e.g. janedoe@gmail.com)</p>
					</div>
					<div id="user_email_blank" class="user_signup_error">
						Please enter your email address
					</div>
					<div id="user_email_invalid" class="user_signup_error">
						Please enter a valid email address
					</div>
					<div id="user_email_good" class="user_signup_good">
						Email looks correct
					</div>
				</div>
			</div>
			<div class="field">
				<%= f.password_field :password, :tabindex => 3, :placeholder => "Password" %>
				<div class="user_signup_messages">
					<div id="user_pw_example" class="user_signup_example">
						<p>Password must be at least two characters long</p>
					</div>
					<div id="user_pw_short" class="user_signup_error">
						Please enter a password at least two characters long
					</div>
					<div id="user_pw_long" class="user_signup_error">
						Please enter a shorter password
					</div>
					<div id="user_pw_good" class="user_signup_good">
						Password is ready
					</div>
				</div>
			</div>
			<div class="field" id="accept_terms">
				By signing up, you agree to the <%= link_to "Terms of Use", terms_path, :target => "_blank" %> & <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
			</div>
			<div class="actions">
				Already a member? <%= link_to "Login", "javascript:void(0);", :class => "alertdim" %> <%= f.submit "Sign Up", :tabindex => 4, :id => "signup_submit" %>
			</div>
		<% end %>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#community_deals_header_link").hide();
	$("#signup_header_link").hide();
});
</script>