<div id="signup_info">
	<div id="signup_info_header">
		<h1>Why join<span class="green">?</span></h1>
	</div>
	<div id="signup_info_body">
		<%= render "users/signup_info" %>
		<div id="signup_facebook">
			<%= link_to("/auth/facebook", :id => "facebook_signup") do %>
				<%= image_tag "/assets/facebook_auth.png" %> <h3>Signup with Facebook</h3>
			<% end %>
		</div>
	</div>
</div>
<div id="signup">
	<div id="signup_header">
		<h1>Sign Up and be the <span class="green">first to know</span></h1>
	</div>
	<div id="signup_form">
		<% if flash[:error] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error] %></li>
					<li>If you have an existing account with FlashingDeals and would like to Login with Facebook:</li>
					<ol>
						<li>Login to FlashingDeals</li>
						<li>Click the "Connect with Facebook" button on your profile page</li>
					</ol>
				<ul>
			</div>
		<% elsif flash[:error_2] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error_2] %></li>
				<ul>
			</div>
		<% end %>
		<%= form_for(@user) do |f| %>
			<%= render 'error_messages', :object => f.object %>
			<div class="field">
				<p>Name: <%= f.text_field :name, :autocomplete => "off", :tabindex => 1 %></p>
			</div>
			<div class="field">
				<p>Email: <%= f.text_field :email, :autocomplete => "off", :tabindex => 2 %></p>
			</div>
			<div class="field">
				<p>Password: <%= f.password_field :password, :tabindex => 3 %></p>
			</div>
			<div class="field">
				<p>Confirm: <%= f.password_field :password_confirmation, :tabindex => 4 %></p>
			</div>
			<div class="field" id="accept_terms">
				<%= f.check_box :accept_terms, :tabindex => 5 %> I agree to the <%= link_to "Terms of Service", terms_path, :target => "_blank" %> and <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
			</div>
			<div class="actions">
				Already a member? <%= link_to "Login", "javascript:void(0);", :class => "alertdim" %> <%= f.submit "Sign Up", :tabindex => 6 %>
			</div>
		<% end %>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#community_deals_header_link").hide();
	$("#signup_header_link").hide();
});
</script>