<%= render 'shared/account_settings_header' %>
<div id="content" data-role="content">
	<div class="userEditForm">
		<%= form_for @user, :html => { "data-ajax" => false } do |f| %>
			<div class="field bottomSpacing">
				<p class="accountSettingsLabel">Password</p>
				<p id="pwShort" class="signupRegex">Password must be at least 2 characters</p>
				<p id="pwLong" class="signupRegex">Password must be under 41 characters</p>
				<%= f.password_field :password, :placeholder => "To change your password, type here" %>
			</div>
			<div class="field">
				<p class="accountSettingsLabel">Password Confirmation</p>
				<p id="pwMismatch" class="signupRegex">Password confirmation does not match</p>
				<%= f.password_field :password_confirmation, :placeholder => "Confirm your new password" %>
			</div>
			<div class="userEditButtons">
				<div class="userEditCancel">
					<%= link_to "Cancel", edit_user_path(@user), :class => "passwordCancel", "data-role" => "none" %>
				</div>
				<div class="userEditSave">
					<%= f.submit "Save", :id => "userPasswordSubmit", "data-role" => "none", :tabindex => 2 %>
				</div>
			</div>
		<% end %>
	</div>
</div>