<div id="my_deals">
	<div id="my_deals_side">
		<div id="my_deals_photo">
			<%= link_to(@user) do %>
				<%= image_tag(@user.photo.url, :id => "user_photo_medium") %>
			<% end %>
		</div>
		<div id="my_deals_info">
			<div id="add_friend_partial">
				<%= render :partial => "add_friend", :object => @user %>
			</div>
			<div id="my_deals_watching">
				<p>Watching: <span id="my_account_deals_count"><%= @user.watching.where("posted > ?", @user.duration).size %></span></p>
			</div>
			<div  class="my_deals_div">
				<p><%= link_to "Send Message", "javascript: void(0)", :onclick => "showNewMessage();" %></p>
			</div>
			<div class="my_deals_div">
				<p>
					<%= link_to friends_user_path(@user) do %>
						Friends <span class="friends_count">(<%= (@user.friends.count + @user.inverse_friends.count) %>)
					<% end %>
				</p>
			</div>
		</div>
	</div>
	<div id="my_deals_deals">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>">
				<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
			</div>
		<% end %>
		<div id="my_deals_name">
			<div id="grid_search_form">
				<%= form_tag @user, :method => :get do %>
					<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
					<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
				<% end %>
			</div>
			<h1><%= @user.name %></h1>
		</div>
		<div id="grid_container" class="user_grid_container">
			<%= render :partial => "deals/box_deal", :collection => @deals, :as => :deal %>
		</div>
		<div class="clear"></div>
		<%= render "deals/endless_pagination" %>
	</div>
	<div class="clear"></div>
</div>
<%= render 'messages/new_message' %>