<% content_for :head do %>
	<meta property="og:title" content="Friends don't let friends pay full price" />
	<meta property="og:description" content="FlashingDeals is dedicated to delivering you the best deals. We do all the homework for you, researching and comparing every deal so that you don't have to." />
	<meta property="og:image" content="https://s3.amazonaws.com/flashingdeals_admin/fd_logo.png" />
<% end %>
<div id="signup_info">
	<div id="signup_info_header">
		<h1>A new way to discover deals</h1>
	</div>
	<div id="signup_info_body">
		<%= render "users/signup_info" %>
	</div>
</div>
<div id="signup">
	<div id="signup_header">
		<h1 class="center">Sign up for free</h1>
	</div>
	<div id="signup_form">
		<% if flash[:error] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error] %></li>
					<li>If you have an existing account with FlashingDeals and would like to Login with Facebook:</li>
					<ol>
						<li>Login to FlashingDeals</li>
						<li>Click the "Connect with Facebook" button on your profile page</li>
					</ol>
				<ul>
			</div>
		<% elsif flash[:error_2] %>
			<div id="error_explanation">
				<ul>
					<li><%= flash[:error_2] %></li>
				<ul>
			</div>
		<% end %>
		<%= link_to("/auth/facebook", :class => "auth_facebook auth_anchor") do %>
			<%= image_tag "/assets/facebook_auth.png" %>
			<p>using <b>Facebook</b></p>
		<% end %>
		<%= link_to("/auth/twitter", :class => "auth_twitter auth_anchor") do %>
			<%= image_tag "/assets/twitter_auth.png" %>
			<p>using <b>Twitter</b></p>
		<% end %>
		<%= link_to("/auth/google", :class => "auth_google auth_anchor") do %>
			<%= image_tag "/assets/google_auth1.png" %>
			<p>using <b>Google</b></p>
		<% end %>
		<div id="referral_info">
			<p>(we will not post on your behalf or spam your friends)</p>
		</div>
		<div id="no_facebook">
			<p>Don't have any of these? <%= link_to "Sign up here", "javascript:void(0);", :class => "no_facebook_signup" %></p>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$("#community_deals_header_link").hide();
	$("#signup_header_link").hide();
	$("#login").hide();
	$("#login_form").css("display", "none");
	$("#signup_message_form").css("display", "block");
	$("#signup_facebook").hide();
	$("#signup_message_info h2").hide();
});
</script>