<div id="user_index_panel">
	<div id="user_index_panel_title">
		<p><%= link_to "Control Panel", "javascript:void(0)", :onclick => "toggleControlPanel()" %></p>
	</div>
	<div id="user_index_control_panel">
		<table>
			<tr>
				<td class="model_name">
					<p><%= link_to "All Deals", deals_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.all.size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Rising Deals", rising_deals_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.where("posted > ? AND metric >= ? AND queue = ? AND top_deal = ? AND flash_back = ?", (Time.now - (86400 * 1)), 0, false, false, false).size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Queue Deals", queue_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.where("queue = ?", true).size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Top Deals", root_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.where("top_deal = ?", true).size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "FlashBack Deals", flashback_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.where("posted > ? AND flash_back = ?", (Time.zone.now - (86400 * 3)), true).size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "FlashMob Deals", flashmob_deals_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Deal.where("posted > ? AND metric < ?", (Time.zone.now - (86400 * 1)), 0).size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Categories", '#' %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Category.all.size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Comments", comments_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= (Comment.all.size + Subcomment.all.size) %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Feedbacks", feedbacks_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Feedback.all.size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Locations", '#' %></p> 
				</td>
				<td class="model_count">
					<p><span><%= Location.all.size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "All Users", users_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= User.all.size %></span></p>
				</td>
			</tr>
			<tr>
				<td class="model_name">
					<p><%= link_to "Watched Deals", relationships_path %></p> 
				</td>
				<td class="model_count">
					<p><span><%= (Relationship.all.size) %></span></p>
				</td>
			</tr>
		</table>
		<ul>
  		<li><%= link_to "Create a Deal", new_deal_path %></li>
		  <li><%= link_to "Search Deals", search_path %></li>
		</ul>
	</div>
</div>