<div id="login_notice">
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>"><%= value %></div>
	<% end %>
</div>
<div class="login_signup">
	<div id="close_signup_message">
		<%= link_to("javascript:void(0);", :title => "Close", :onclick => "closeSignupButton();") do %>
			<%= image_tag("/assets/close.png") %>
		<% end %>
	</div>
	<div class="login_signup_header">
		Join The Community
	</div>
	<div class="auth_side">
		<p class="auth_side_header">A new way to discover deals and share them with friends.</p>
		<div class="auth_options">
			<p class="auth_options_header">Login or Sign Up</p>
			<%= link_to("/auth/facebook", :class => "auth_facebook auth_anchor") do %>
				<%= image_tag "/assets/facebook_auth.png" %>
				<p>using <b>Facebook</b></p>
			<% end %>
			<%= link_to("/auth/twitter", :class => "auth_twitter auth_anchor") do %>
				<%= image_tag "/assets/twitter_auth.png" %>
				<p>using <b>Twitter</b></p>
			<% end %>
			<%= link_to("/google/oauth", :class => "auth_google auth_anchor") do %>
				<%= image_tag "/assets/google_auth1.png" %>
				<p>using <b>Google</b></p>
			<% end %>
			<%= link_to("javascript:void(0);", :class => "auth_email auth_anchor") do %>
				<%= image_tag "/assets/email_auth1.png" %>
				<p>using <b>Any Email</b></p>
			<% end %>
		</div>
		<p class="no_post_or_spam">(we will not post on your behalf or spam your friends)</p>
	</div>
	<div class="form_side">
		<div class="form_side_login">
			<p class="login_signup_form_header">Existing user? Login</p>
			<%= form_for(:session, :url => sessions_path) do |f| %>
				<div class="field">
					<%= f.text_field :email, :tabindex => 1, :placeholder => "Email address" %>
				</div>
				<div class="field">
					<%= f.password_field :password, :tabindex => 2, :placeholder => "Password" %>
					<div class="actions">
						<%= f.submit "Login", :id => "login_submit", :tabindex => 3 %>
					</div>
					<div class="remember_forgot">
						<label class="remember">
							<%= check_box_tag :remember_me, 1, params[:remember_me] %>
							<span>Remember me</span>
						</label>
						<span class="forgot"><%= link_to "Forgot password?", new_password_reset_path %></span>
					</div>
				</div>
			<% end %>
		</div>
		<div class="form_side_signup">
			<p class="login_signup_form_header">New user? Sign up</p>
			<%= form_for(User.new) do |f| %>
				<div class="field">
					<%= f.text_field :name, :autocomplete => "off", :tabindex => 4, :placeholder => "Full name" %>
					<div class="user_signup_messages">
						<div id="user_name_example" class="user_signup_example">
							<p>Your full name (e.g. Jane Doe)</p>
						</div>
						<div id="user_name_blank" class="user_signup_error">
							Please enter your name
						</div>
						<div id="user_name_long" class="user_signup_error">
							Name is too long (20 characters max)
						</div>
						<div id="user_name_invalid" class="user_signup_error">
							Name is invalid (can contain A-Z, 0-9, -, _, or 1 space)
						</div>
						<div id="user_name_good" class="user_signup_good">
							Name looks good
						</div>
					</div>
				</div>
				<div class="field">
					<%= f.text_field :email, :autocomplete => "off", :tabindex => 5, :placeholder => "Email address" %>
					<div class="user_signup_messages">
						<div id="user_email_example" class="user_signup_example">
							<p>Your email address (e.g. janedoe@gmail.com)</p>
						</div>
						<div id="user_email_blank" class="user_signup_error">
							Please enter your email address
						</div>
						<div id="user_email_invalid" class="user_signup_error">
							Please enter a valid email address
						</div>
						<div id="user_email_good" class="user_signup_good">
							Email looks right
						</div>
					</div>
				</div>
				<div class="field">
					<%= f.password_field :password, :tabindex => 6, :placeholder => "Password" %>
					<div class="actions">
						<%= f.submit "Sign Up", :tabindex => 7, :id => "signup_submit" %>
					</div>
					<div class="user_signup_messages">
						<div id="user_pw_example" class="user_signup_example">
							<p>Password must be at least two characters long</p>
						</div>
						<div id="user_pw_short" class="user_signup_error">
							Please enter a password at least 2 characters long
						</div>
						<div id="user_pw_long" class="user_signup_error">
							Please enter a shorter password
						</div>
						<div id="user_pw_good" class="user_signup_good">
							Password is ready
						</div>
					</div>
				</div>
				<div class="accept_terms">
					By signing up, you agree to the <%= link_to "Terms of Use", terms_path, :target => "_blank" %> & <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
				</div>
			<% end %>
		</div>
	</div>
</div>