<%= render "page_sidebar" %>
<div class="page">
	<p class="page_header">Contact Us</p>
	<div class="page_content">
		<p class="page_content_header">Customer Service</p>
		<p>For customer service or any sort of assistance, visit our <%= link_to "Support", support_path %>.</p>
		<p class="page_content_header">Work With Us</p>
		<p>If you are a company and would like to work together, visit our <%= link_to "Partner", partner_path %> page.</p>
		<p>If you are a passionate, hard working, and fun individual that would like to work with us, visit our <%= link_to "Team", team_path %>.</p>
		<p class="page_content_header">Email</p>
		<p>If you have anything you would like to tell us or if you just want to say hello, drop us an email at <%= mail_to "hello@flashingdeals.com", "hello@flashingdeals.com", :subject => "Contacting FlashingDeals" %>.</p>
		<p class="page_content_header">Our Promise to You</p>
		<p>If you are unhappy with anything, we will make it right. No matter what!</p>
	</div>
</div>
<script>
$(document).ready(function () {
	$(".contact").addClass("page_selected");
});
</script>