<!DOCTYPE html>
<html lang="en">
	<title><%= @title %></title>
	<head>
  <%= javascript_include_tag 'chrome/application' %>
	<script>
		
	</script>
	</head>
	<body>
		<ul>
			<li>ID: <%= @id %></li>
			<li>Email: <%= @email %></li>
			<li>Name: <%= @name %></li>
			<li><%= image_tag @picture %></li>
		</ul>
	</body>
</html>