<% if deal.dead? %>
<div id="box_deal_<%= deal.id %>" class="box_deal_large deal_dead" onmouseover="showBoxDealShare(<%= deal.id %>);" onmouseout="hideBoxDealShare();" title="This deal has expired">
<% else %>
<div id="box_deal_<%= deal.id %>" class="box_deal_large" onmouseover="showBoxDealShare(<%= deal.id %>);" onmouseout="hideBoxDealShare();">
<% end %>
	<div id="box_deal_large_price">
		<h1>
			<% if deal.price.nil? && deal.discount != nil %>
				<%= deal.discount.round %>% Off
			<% elsif deal.price.blank? && deal.discount.blank? && deal.value.blank? && deal.savings != nil %>
				$<%= deal.savings.round %> Off
			<% elsif deal.price.blank? %>
			<% elsif deal.price == 0 %>
				Free
			<% else %>
				$<%= (deal.price * 1.0).round %>
			<% end %>
		</h1>
	</div>
	<div id="box_deal_large_image_container">
		<% if signed_in? %>
			<%= link_to(deal, :id => "box_deal_large_link") do %>
				<img class="lazy lazy_load" src="/assets/lazy_large.png" data-original="<%= deal.image %>" id="box_deal_large_image">
			<% end %>
		<% else %>
			<% if deal.exclusive? %>
				<%= link_to("javascript:void(0)", :onclick => "signupPopupExclusive();") do %>
					<img class="lazy lazy_load" src="/assets/lazy_large.png" data-original="<%= deal.image %>" id="box_deal_large_image">
				<% end %>
			<% else %>
				<%= link_to(deal) do %>
					<img class="lazy lazy_load" src="/assets/lazy_large.png" data-original="<%= deal.image %>" id="box_deal_large_image">
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div id="box_deal_share_<%= deal.id %>" class="box_deal_large_share">
		<ul>
			<li>
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.flashingdeals.com<%= deal_path(deal) %>" class="example3demo_<%= deal.id %>">
					<%= image_tag("/assets/facebook_button_grey.png") %>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/intent/tweet?original_referer=&text=<%= deal.name %>%20http://www.flashingdeals.com<%= deal_path(deal) %>&via=FlashingDeals" target="_blank">
					<%= image_tag("/assets/twitter_button_grey.png") %>
				</a>
			</li>
			<li>
				<a href="http://api.addthis.com/oexchange/0.8/forward/email/offer?url=http://www.flashingdeals.com<%= deal_path(deal) %>" class="example4demo_<%= deal.id %>">
					<%= image_tag("/assets/email_button_grey.png") %>
				</a>
			</li>
		</ul>
	</div>
	<div id="box_deal_large_name">
		<h1><%= deal.name %></h1>
	</div>
	<div id="box_deal_large_comments">
		<% deal.comments.each do |comment| %>
			<div class="box_deal_large_comment">
				<div id="box_deal_large_comment_user">
					<%= link_to(User.find(comment.user_id)) do %>
						<img class="lazy lazy_load" src="/assets/lazy.png" data-original="<%= User.find(comment.user_id).photo.url %>" id="user_photo_subcomment">
					<% end %>
				</div>
				<div id="box_deal_large_comment_content">
					<p><%= auto_link(wrap_box_deal_large(to_html(strip_tags(comment.content))), :all, :target => "_blank") %></p>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
	</div>
</div>
<script>
$('.example3demo_<%= deal.id %>').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 375,
	width: 675
}); 
$('.example4demo_<%= deal.id %>').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 500,
	width: 675
});
</script>