<div id="deal_info2">
	<h2>Community Knowledge
		<% if signed_in? %>
			<% if current_user.admin? %>
				<span id="edit_the_flash"><%= link_to "Edit", "javascript:void(0);", :onclick => "toggleInfoEditForm();" %></span>
				<div id="comment_and_point_count">
					Comment Count: <span id="comment_count"><%= @deal.comment_count %></span> <span class="grey_75">|</span>
					Point Count: <span id="point_count"><%= @deal.point_count %></span>
				</div>
				<div id="view_and_click_count">Views: <%= @deal.view_count %> <span class="grey_75">|</span> Clicks: 
				<% if @deal.click_count.nil? %>
					0
				<% else %>
					<%= @deal.click_count %>
				<% end %>
				</div>
			<% end %>
		<% end %>
	</h2>
	<div id="deal_summary_container">
		<div id="info">
			<% if signed_in? %>
				<%= render 'the_flash_deal_info' %>
			<% else %>
				<p><%= to_html(auto_link(@deal.info, :all, :target => "_blank")) %></p>
			<% end %>
		</div>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<div id="info_edit_the_flash">
					<%= render 'deal_info_form' %>
				</div>
			<% end %>
		<% end %>
		<div id="deal_side_panel">
			<div id="deal_summary_side_panel">
				<div id="watch_deal_info">
					Save this to your "My Deals" and never lose sight of it!
					<div id="watch_deal_info_triangle"></div>
				</div>
				<div class="add_deal">
					<% if signed_in? %>
						<%= render 'watch_form' %>
					<% else %>
						<div id="watch_form">
							<div class="actions">
								<%= link_to("javascript:void(0);", :class => "alertdim") do %>
									<input name="commit" type="submit" value="Watch" onmouseover="showWatchDealInfo()" onmouseout="hideWatchDealInfo()" onmouseclick="hideWatchDealInfo()">
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
				<div id="share_all_info">
					Share this deal with all your FD friends
					<div id="share_all_info_triangle"></div>
				</div>
				<% if signed_in? %>
					<div id="share_form">
						<%= render 'shares/share_all_form' %>
					</div>
				<% else %>
					<div id="share_form_signup">
						<%= link_to "Share", "javascript:void(0);", :onmouseover => "showShareAllInfo()", :onmouseout => "hideShareAllInfo()", :class => "alertdim" %>
					</div>
				<% end %>
			</div>
			<div id="deal_summary">
				<div id="user_like">
					<%= render "user_like" %>
				</div>
				<div id="user_dislike">
					<%= render "user_dislike" %>
				</div>
				<div id="flash_points">
					<div id="up">
						<% if signed_in? %>
							<%= link_to(score_up_deal_path(@deal), :onmouseover => "toggleUserLike()", :onmouseout => "toggleUserLike()", :method => :post, :remote => true, :id => "like") do %>
								<div id="like_arrow"></div>
							<% end %>
						<% else %>
							<%= link_to("javascript:void(0);", :id => "like", :onmouseover => "toggleUserLike()", :onmouseout => "toggleUserLike()", :class => "alertdim") do %>
								<div id="like_arrow"></div>
							<% end %>
						<% end %>
					</div>
					<div id="total_score">
						<h1><%= @deal.plusminus %></h1>
					</div>
					<div id="down">
						<% if signed_in? %>
							<%= link_to(score_down_deal_path(@deal), :onmouseover => "toggleUserDislike()", :onmouseout => "toggleUserDislike()", :method => :post, :remote => true, :id => "dislike") do %>
								<div id="dislike_arrow"></div>
							<% end %>
						<% else %>
							<%= link_to("javascript:void(0);", :id => "dislike", :onmouseover => "toggleUserDislike()", :onmouseout => "toggleUserDislike()", :class => "alertdim") do %>
								<div id="dislike_arrow"></div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<% unless @deal.coupon.nil? && @deal.rebate.nil? %>
				<% unless @deal.coupon.blank? && @deal.rebate.blank? %>
					<div id="coupon_rebate">
						<% unless @deal.coupon.nil? || @deal.coupon.blank? %>
							<div id="deal_show_coupon">
								<h1>Coupon Code</h1>
								<p><%= @deal.coupon %></p>
							</div>
						<% end %>
						<% unless @deal.rebate.nil? || @deal.rebate.blank? %>
							<div id="deal_show_rebate">
								<h1>Rebate Link</h1>
								<p><%= link_to "#{@deal.rebate}", @deal.rebate, :target => "_blank" %></p>
							</div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div id="the_flash">
		<% flash.each do |key, value| %>
  		<div class="flash <%= key %>">
  			<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
			</div>
  	<% end %>
  	<div id="flash"></div>
  	<% if signed_in? %>
			<%= render 'comments/comment_form' %>
		<% end %>
		<div id="deal_show_comments_list">
			<%= render @comments %>
		</div>
	</div>
	<% if signed_in? %>
		<% if current_user.admin? %>
		<div id="delete_deal">
			<ul>
				<li><p><%= link_to "Add to Queue", add_to_queue_deal_path(@deal), :remote => true %></p></li>
				<li><p><%= link_to "Edit Deal", edit_deal_path(@deal) %></p></li>
				<% if current_user.gm? %>
					<li><p><%= link_to "Delete Deal", @deal, :method => :delete, :confirm => "Are you sure you want to delete this deal?", :title => "Delete #{@deal.name}" %></p></li>
				<% end %>
			</ul>
		</div>
		<% end %>
	<% end %>
</div>