<div id="deal_show_share">
	<ul>
		<li>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.flashingdeals.com<%= deal_path(@deal) %>" class="example3demo">
				<%= facebookButton %>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/intent/tweet?original_referer=&text=<%= CGI.escape(@deal.name) %>%20http://www.flashingdeals.com<%= deal_path(@deal) %>&via=FlashingDeals" target="_blank">
				<%= twitterButton %>
			</a>
		</li>
		<li>
			<a href="http://api.addthis.com/oexchange/0.8/forward/email/offer?url=http://www.flashingdeals.com<%= deal_path(@deal) %>" class="example4demo">
				<%= emailButton %>
			</a>
		</li>
	</ul>
</div>