<div id="deal_info2">
	<h2>Flash Points 
		<% if signed_in? %>
			<% if current_user.admin? %>
				<div id="comment_and_point_count">
					Comment Count: <span id="comment_count"><%= @deal.comment_count %></span> <span class="grey_75">|</span>
					Point Count: <span id="point_count"><%= @deal.point_count %></span>
				</div>
				<div id="view_and_click_count">Views: <%= @deal.view_count %> <span class="grey_75">|</span> Clicks: 
				<% if @deal.click_count.nil? %>
					0
				<% else %>
					<%= @deal.click_count %>
				<% end %>
				</div>
			<% end %>
		<% end %>
	</h2>
	<div id="user_like">
		<%= render "user_like" %>
	</div>
	<div id="user_dislike">
		<%= render "user_dislike" %>
	</div>
	<div id="deal_summary_container">
	<div id="deal_summary">
		<div id="show_watchers">
			<%= render 'show_watchers' %>
		</div>
		<div id="flash_points">
			<div id="total_score">
				<h1><%= @deal.plusminus %></h1>
			</div>
			<div id="scoring_partial">
				<%= render "scoring_partial" %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="deal_summary_side_panel">
		<div id="watch_deal_info">
			Save this to your "My Deals" and never lose sight of it!
			<div id="watch_deal_info_triangle"></div>
		</div>
		<div class="add_deal">
			<% if signed_in? %>
				<%= render 'watch_form' %>
			<% else %>
				<div id="watch_form">
					<div class="actions">
						<%= link_to signup_path do %>
							<input name="commit" type="submit" value="Watch" onmouseover="showWatchDealInfo()" onmouseout="hideWatchDealInfo()">
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<div class="summary">
			<div id="deal_watchers">
				<%= render "deal_watchers" %>
			</div>
			<p>Found <span class="grey_75"><%= @deal.posted.strftime("%A %b %d, %Y") %></span> at <span class="grey_75"><%= @deal.posted.strftime("%I:%M %p") %></span></p>
		</div>
	</div>
	<div id="deal_summary_side_panel_more">
		<div id="share_all_info">
			Share this deal with all your FlashingDeal friends
			<div id="share_all_info_triangle"></div>
		</div>
	<% if signed_in? %>
		<div id="share_list">
			<%= render 'shares/share_single_form' %>
		</div>
		<div id="share_form">
			<%= render 'shares/share_all_form' %>
		</div>
		<div id="share_single">
			<%= link_to "Share With One Friend", 'javascript:void(0)', :id => "share_single", :onclick => "showShareList();" %>
		</div>
	<% else %>
		<div id="share_form_signup">
			<%= link_to "Share Deal", signup_path, :onmouseover => "showShareAllInfo()", :onmouseout => "hideShareAllInfo()" %>
		</div>
	<% end %>
	</div>
	</div>
	<div class="clear"></div>
	<div id="the_flash">
		<h1>The Flash 
			<% if signed_in? %>
				<% if current_user.admin? %>
					<span id="edit_the_flash"><%= link_to "Edit", "javascript:void(0);", :onclick => "toggleInfoEditForm();" %></span>
				<% end %>
			<% end %>
		</h1>
		<% if signed_in? %>
			<% if current_user.admin? %>
			<div id="info_edit_the_flash">
				<%= render 'deal_info_form' %>
			</div>
			<% end %>
		<% end %>
		<div id="info">
			<% if signed_in? %>
				<%= render 'the_flash_deal_info' %>
			<% else %>
				<p><%= auto_link(@deal.info, :all, :target => "_blank") %></p>
			<% end %>
		</div>
		<% flash.each do |key, value| %>
  		<div class="flash <%= key %>">
  			<%= value %><%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>
			</div>
  	<% end %>
  	<div id="flash"></div>
  	<% if signed_in? %>
			<%= render 'comments/comment_form' %>
		<% end %>
		<div id="deal_show_comments_list">
			<%= render @comments %>
		</div>
	</div>
	<% if signed_in? %>
		<% if current_user.admin? %>
		<div id="delete_deal">
			<ul>
				<li><p><%= link_to "Add to Queue", add_to_queue_deal_path(@deal), :remote => true %></p></li>
				<li><p><%= link_to "Edit Deal", edit_deal_path(@deal) %></p></li>
				<% if current_user.gm? %>
					<li><p><%= link_to "Delete Deal", @deal, :method => :delete, :confirm => "Are you sure you want to delete this deal?", :title => "Delete #{@deal.name}" %></p></li>
				<% end %>
		</div>
		<% end %>
	<% end %>
</div>