<div id="deal_show_share">
	<div class="categoryTags">
		<% unless @deal.categories.empty? %>
			<% @deal.categories.each do |category| %>
				<%= link_to(category, :class => "categoryTag") do %>
					#<%= category.name.downcase %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<ul>
		<li>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.flashingdeals.com<%= deal_path(@deal) %>" class="example3demo share_points">
				<%= facebookButton %>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/intent/tweet?original_referer=&text=<%= CGI.escape(@deal.name) %>%20http://www.flashingdeals.com<%= deal_path(@deal) %>&via=FlashingDeals" target="_blank" class="share_points">
				<%= twitterButton %>
			</a>
		</li>
		<li>
			<a href="http://api.addthis.com/oexchange/0.8/forward/email/offer?url=http://www.flashingdeals.com<%= deal_path(@deal) %>" class="example4demo share_points">
				<%= emailButton %>
			</a>
		</li>
	</ul>
</div>