<div id="deal_nav">
	<div id="sort">
		<span class="sort"><%= sortable "posted", "Most Recent" %></span>
		<span class="sort"><%= sortable "view_count", "Best Seller" %></span>
		<span class="sort"><%= sortable "comment_count", "Most Talked About" %></span>
		<span class="sort"><%= sortable "price" %></span>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<span class="sort"><%= sortable "point_count", "Points" %></span>
				<span class="sort"><%= sortable "click_count", "Clicks" %></span>
				<span class="sort"><%= sortable "created_at", "Created" %></span>
				<span class="sort"><%= sortable "metric" %></span>
			<% end %>
		<% end %>
	</div>
</div>
<% if @deals.empty? %>
<div class="empty_category">
	<p>Woopsie! No matching deals...for now :)</p>
	<p><%= link_to "View other deals", flashback_path %></p>
</div>
<% end %>
<a name="top"></a>
<%= render @deals %>
<%= will_paginate @deals, :separator => "" %>
<% unless @deals.count < 3 %>
	<div id="back_to_top">
		<strong>^</strong><%= link_to "Back to the Top", "javascript:void(0);", :class => "scroll_top" %>
	</div>
<% end %>