<div id="home_deal_four">
	<% if item.metric >= 2 && item.metric < 4 %>
		<%= link_to(item, :id => "home_deal_link", :onmouseover => "showLightning(#{item.id});", :onmouseout => "hideLightning();") do %>
		<% end %>
	<% elsif item.metric >= 4 %>
		<%= link_to(item, :id => "home_deal_link", :onmouseover => "showLightning(#{item.id});", :onmouseout => "hideLightning();") do %>
		<% end %>
	<% else %>
		<%= link_to(item, :id => "home_deal_link") do %>
		<% end %>
	<% end %>
	<div class="box_image_four">
		<div class="box_image_container">
			<%= link_to item do %>
				<%= image_tag("#{item.image}", :id => "#{item.id}", :class => "top_deal_image") %>
			<% end %>
		</div>
		<div class="box_price_four">
			<% if item.price.blank? %>
				<%= number_to_currency(0) %>
			<% else %>
				<%= number_to_currency(item.price) %>
			<% end %>
		</div>
	</div>
	<div class="box_name_four">
		<% unless item.metric.nil? %>
			<%= div_for(item, :class => "show_lightning show_lightning_four") do %>
				<% if item.metric >= 2 && item.metric < 4 %>
					<p>This Deal is Electric!</p>
				<% elsif item.metric >= 4 %>
					<p>Flashing Deal of the Day!</p>
				<% end %>
				<div id="show_lightning_four_arrow"></div>
			<% end %>
		<% end %>
		<p class="top_deal_name" id="name_<%= item.id %>"><%= link_to item.name, item %></p>
	</div>
	<div class="box_stats_four">
		<ul id="box_stats_four">
			<li>
				<p>Value</p>
				<% if item.value.blank? %>
					<%= number_to_currency(0) %>
				<% else %>
					<%= number_to_currency(item.value) %>
				<% end %>
			</li>
			<li>
				<p>Discount</p>
				<% if item.discount.blank? && item.value.blank? || item.discount.blank? && item.price.blank? %>
					0%
				<% elsif item.value.blank? || item.price.blank? %>
					<%= item.discount %>%
				<% elsif item.value == 0 %>
					<%= item.discount %>%
				<% elsif item.discount.blank? %>
					<%= (((item.value - item.price) * 100)/item.value).round %>%
				<% end %>
			</li>
			<li>
				<p>Savings</p>
				<% if item.savings.blank? && item.value.blank? || item.savings.blank? && item.price.blank? %>
					<%= number_to_currency(0) %>
				<% elsif item.value.blank? || item.price.blank? %>
					<%= number_to_currency(item.savings) %>
				<% elsif item.savings.blank? %>
					<%= number_to_currency(item.value - item.price) %>
				<% end %>
			</li>
		</ul>
	</div>
	<% unless item.metric.nil? %>
	<div class="box_lightning_deal_four">
		<% if item.metric >= 2 && item.metric < 4 %>
			<%= image_tag("/assets/lightning_bolt_electric.png", :onmouseover => "showLightning(#{item.id});", :onmouseout => "hideLightning();") %>
		<% elsif item.metric >= 4 %>
			<%= image_tag("/assets/lightning_bolt_flashing.png", :onmouseover => "showLightning(#{item.id});", :onmouseout => "hideLightning();") %>	
		<% end %>
	</div>	
	<% end %>
</div>