<div class="listDeal">
	<%= link_to(deal, :class => "listDealLink", "data-transition" => "none") do %>
		<div class="listDealImage">
			<%= image_tag(deal.image) %>
		</div>
		<div class="listDealInfo">
			<p class="listDealName"><%= deal.name %></p>
			<p class="listDealSite"><%= deal.site %></p>
			<p class="listDealPrice">
				<% if deal.price.nil? && deal.discount != nil %>
					<%= deal.discount.round %>% Off
				<% elsif deal.price.blank? && deal.discount.blank? && deal.value.blank? && deal.savings != nil %>
					$<%= deal.savings.round %> Off
				<% elsif deal.price.blank? %>
				<% elsif deal.price == 0 %>
					Free
				<% else %>
					$<%= (deal.price * 1.0).round %>
				<% end %>
			</p>
		</div>
		<div class="clear"></div>
	<% end %>
</div>