<div class="deal_single" id="queue_deal_<%= deal.id %>">
	<div class="col4">
		<% if deal.image.nil? %>
			<%= link_to(deal.link, :target => "_blank") do %>
				<%= div_for(deal, :class => "deal_image", :style => "background-image:url(#{deal.image})") do %>
				<% end %>
			<% end %>
		<% else %>
			<%= link_to(deal.link, :target => "_blank") do %>
				<%= div_for(deal, :class => "deal_image", :style => "background-image:url(#{deal.image.split(' ').join("%20")})") do %>
				<% end %>
			<% end %>
		<% end %>
		<div id="edit_queue_deal">
			<%= link_to "Edit", "javascript:void(0)", :onclick => "toggleQueueEdit(#{deal.id})" %>
		</div>
	</div>
	<div class="col5">
		<h1><%= link_to deal.name, deal %></h1>
		<div id="queue_price_value">
			<p>Price: 
			<span class="grey_75">
			<% if deal.price.blank? %>
				<%= number_to_currency(0) %>
			<% else %>
				<%= number_to_currency(deal.price) %>
			<% end %>
			</span>
			</p>
			<p>Value: 
			<span class="grey_75">
			<% if deal.value.blank? %>
				<%= number_to_currency(0) %>
			<% else %>
				<%= number_to_currency(deal.value) %>
			<% end %>
			</span>
			</p>
		</div>
		<div id="assign_queue">
			<p><%= link_to "Make Top Deal", make_top_deal_deal_path(deal), :id => "make_top_deal", :remote => true %></p>
			<p><%= link_to "Make Featured Deal", make_flashback_deal_path(deal), :id => "make_flashback", :remote => true %></p>
			<p><%= link_to "Remove", make_remove_deal_path(deal), :id => "make_remove", :remote => true %></p>
		</div>
		<div id="queue_edit_<%= deal.id %>" class="queue_edit_deal_more">
		<%= form_for deal, :remote => true do |f| %>
			<ul>
				<li><p>Queue: <%= f.check_box :queue %></p></li>
				<li><p>Top Deal: <%= f.check_box :top_deal %></p></li>
				<li><p>FlashBack: <%= f.check_box :flash_back %></p></li>
			</ul>
			<ul>
				<li><p>Exclusive: <%= f.check_box :exclusive %></p></li>
				<li><p>Dead: <%= f.check_box :dead %></p></li>
			</ul>
			<p>Name: <%= f.text_area :name, :autocomplete => "off", :class => "queue_edit_name", :placeholder => "Required" %></p>
			<p>Link: <%= f.text_field :link, :autocomplete => "off", :placeholder => "Required" %></p>
			<p>Image: <%= f.text_field :image, :autocomplete => "off", :placeholder => "Required" %></p>
			<p>Site: <%= f.text_field :site, :autocomplete => "off", :placeholder => "Required (e.g. Amazon)" %></p>
			<p>Posted: <%= f.text_field :posted, :autocomplete => "off", :placeholder => "Required (2012-04-01 24:00:00)" %></p>
			<p>City: <%= f.text_field :city, :autocomplete => "off", :placeholder => "Required (e.g. national)" %></p>
			<p>Metric: <%= f.text_field :metric, :autocomplete => "off", :placeholder => "Required (e.g. 1)" %></p>
			<p>Info: <%= f.text_area :info, :autocomplete => "off", :class => "queue_edit_info" %></p>
			<p>Tag: <%= f.text_field :tag, :autocomplete => "off" %></p>
			<p>Coupon: <%= f.text_field :coupon, :autocomplete => "off" %></p>
			<p>Rebate: <%= f.text_field :rebate, :autocomplete => "off" %></p>
			<p>Price: <%= f.text_field :price, :autocomplete => "off" %></p>
			<p>Value: <%= f.text_field :value, :autocomplete => "off" %></p>
			<p>Discount: <%= f.text_field :discount, :autocomplete => "off" %></p>
			<p>Savings: <%= f.text_field :savings, :autocomplete => "off" %></p>
			<p>Exclusive: <%= f.check_box :exclusive %></p>
			<p>Expires: <%= f.datetime_select :expires, :ampm => true, :datetime_separator => ", ", :time_separator => "", :use_short_month => true, :order => [:month, :day, :year], :include_blank => true %></p>
			<p>Order: <%= f.text_field :deal_order, :autocomplete => "off" %></p>
			<p>Time In:<%= f.text_field :time_in, :autocomplete => "off" %></p>
			<div class="actions">
				<%= f.submit "Update" %>
			</div>
		<% end %>
		</div>
	</div>
	<div class="clear"></div>
	<div id="queue_top_deal_updated_at">
		<p>Updated on: <span class="grey_75"><%= deal.updated_at.strftime("%A %b %d, %Y") %></span> at <span class="grey_75"><%= deal.updated_at.strftime("%I:%M %p") %></span></p>
	</div>
	<div class="clear"></div>
</div>