<div class="deal_single" id="rising_deal_<%= deal.id %>">
	<div class="col1">
		<% if deal.image.nil? %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image", :style => "background-image:url(#{deal.image})") do %>
			<% end %>
			</a>
		<% else %>
			<a href="<%= deal_path(deal) %>">
			<%= div_for(deal, :class => "deal_image", :style => "background-image:url(#{deal.image.split(' ').join("%20")})") do %>
			<% end %>
			</a>
		<% end %>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<div id="deal_editmarks_<%= deal.id %>" class="deal_editmarks">
					<%= render :partial => "editmarks/deal_editmarks", :locals => { :deal => deal } %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="col2">
		<h1><%= link_to deal.name, deal %></h1>
		<div id="location">
			<% unless deal.location == nil %>
				<p><%= link_to deal.location.name, "/#{deal.location.permalink}" %></p>
			<% end %>
		</div>
		<div id="categories">
			<p>
			<% deal.categories.each do |c| %>
				<span class="category"><%= link_to c.name, c %></span>
			<% end %>
			</p>
		</div>
		<ul>
		<% unless deal.posted.nil? %>
			<li><p><span class="light_grey">Found:</span> <%= deal.posted.strftime("%A, %b %d") %> <span class="light_grey">at</span> <span class="grey_75"><%= deal.posted.strftime("%I:%M %p") %></span></p></li>
		<% end %>
			<li><p><span class="light_grey">Created:</span> <%= deal.created_at.strftime("%A, %b %d") %> <span class="light_grey">at</span> <span class="grey_75"><%= deal.created_at.strftime("%I:%M %p") %></span></p></li>
		<% unless deal.site.nil? || deal.site.empty? %>
			<li><p><span class="light_grey">From:</span> <%= deal.site %></p></li>
		<% end %>
		<% unless deal.tag.nil? || deal.tag.empty? %>
			<li><p><span class="light_grey">Tag:</span> <%= deal.tag %></p></li>
		<% end %>
		</ul>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<div id="reviewed_<%= deal.id %>" class="deal_editmarks">
					<%= render :partial => "editmarks/reviewed", :locals => { :deal => deal } %>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="col3">
		<div class="price">
			<h2><%= link_to "DEAL!", frame_deal_path(deal), :target => "_blank" %></h2>
			<% if deal.price.blank? && deal.discount != nil %>
				<h1><%= deal.discount.round %>% Off</h1>
			<% elsif deal.price.blank? %>
				<h1>$</h1>
			<% elsif deal.price == 0 %>
				<h1>Free</h1>
			<% else %>
				<h1>$<%= (deal.price * 1.0).round %></h1>
			<% end %>
		</div>
		<div id="deal_data">
		<table>
			<tr>
				<td class="deal_data_numbers">
					<p>
					<% if deal.plusminus > 0 %>
						<span class="dark"><%= deal.plusminus %></span>
					<% elsif deal.plusminus < 0 %>
						<span class="dark"><%= deal.plusminus %></span>
					<% else %>
						<span class="dark"><%= deal.plusminus %></span>
					<% end %>
					</p>
				</td>
				<td class="deal_data_labels">
					<%= image_tag("/assets/flash_point.png", :title => "Flash Points", :class => "flash_points") %>
				</td>
			</tr>
			<tr>
				<td class="deal_data_numbers">
					<p><%= (deal.comments.size + deal.subcomments.size) %></p>
				</td>
				<td class="deal_data_labels">
					<%= image_tag("/assets/comment_bubble.png", :title => "Comments", :class => "comment_bubble") %>
				</td>
			</tr>
			<tr>
				<td class="deal_data_numbers">
					<p><%= deal.view_count %></p>
				</td>
				<td class="deal_data_labels">
					<%= image_tag("/assets/glass.png", :title => "Views", :class => "views") %>
				</td>
			</tr>
			<% if signed_in? %>
				<% if current_user.admin? %>
					<tr>
						<td class="deal_data_numbers">
							<p>
							<% if deal.metric < 1 && deal.metric >= 0 %>
								<span class="red"><%= (deal.metric * 200).round/200.0 %></span>
							<% elsif deal.metric < 2 && deal.metric >= 1 %>
								<span class="blue"><%= (deal.metric * 200).round/200.0 %></span>
							<% elsif deal.metric < 0 %>
								<span class="blue">FM</span>
							<% else %>
								<span class="green"><%= (deal.metric * 200).round/200.0 %></span>
							<% end %>
							</p>
						</td>
						<td class="deal_data_labels">
							<%= image_tag("/assets/metric.png", :title => "Metric", :class => "metric") %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</table>
		</div>
	</div>
	<div class="clear"></div>
	<% if signed_in? %>
		<% if current_user.admin? %>
			<div class="edit_rising_deal">
				<%= link_to "Edit + Add to Queue", "javascript:void(0);", :onclick => "toggleRisingDealEdit(#{deal.id})" %>
			</div>
		<% end %>
	<% end %>
	<%= render :partial => "deals/add_edit_to_queue_form", :locals => { :deal => deal } %>
	<div class="clear"></div>
</div>