<div id="grid_top_bar">
	<div id="grid_categories">
		<%= link_to "Categories", "javascript:void(0);", :id => "grid_categories_show" %>
		<ul id="grid_categories_list">
			<% Category.all.each do |c| %>
				<% if c.deals.where("posted > ?", @today).size > 0 %>
					<li>
						<%= link_to "#{c.name}", c %>
					</li>
				<% end %>
			<% end %>
		</ul>		
	</div>
	<div id="grid_search_form">
		<%= form_tag community_deals_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :deals_per_page, params[:deals_per_page] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
			<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
		<% end %>
	</div>
	<div id="grid_deal_nav">
		<div id="deal_nav">
			<div id="sort_non_ajax">
				<span class="sort"><%= sortable "posted", "Most Recent" %></span>
				<span class="sort"><%= sortable "view_count", "Best Seller" %></span>
				<span class="sort"><%= sortable "comment_count", "Most Talked About" %></span>
				<span class="sort"><%= sortable "price" %></span>
			</div>
		</div>
	</div>
</div>
<div id="grid_container">
	<%= render :partial => "box_deal", :collection => @deals, :as => :deal %>
</div>
<%= will_paginate @deals, :separator => "" %>
<script>
$(document).ready(function() {
	$("div#flashmob_arrow").show();
	$("a#flashmob_deals").removeClass("not_selected");
	$("a#flashmob_deals").addClass("selected");
});
</script>