<div id="new_deal">
	<div id="new_deal_header">
		<h1>Edit An Existing <span class="green">Deal</span></h1>
	</div>
	<div id="new_deal_form">
		<%= form_for(@deal) do |f| %>
			<%= render 'users/error_messages', :object => f.object %>
			<div class="field">
				<p>Name: <%= f.text_field :name, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Info: <%= f.text_field :info, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Price: <%= f.text_field :price, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Value: <%= f.text_field :value, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Discount: <%= f.text_field :discount, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Savings: <%= f.text_field :savings, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Link: <%= f.text_field :link, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Image: <%= f.text_field :image, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Site: <%= f.text_field :site, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Tag: <%= f.text_field :tag, :autocomplete => "off" %></p>
			</div>
	</div>
</div>
<div id="new_deal_2">
	<div id="new_deal_header">
		<h1>Edit More <span class="green">Deal</span></h1>
	</div>
	<div id="new_deal_form">
			<div class="field">
				<p>Created At: <%= f.text_field :created_at, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Posted: <%= f.text_field :posted, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Views: <%= f.text_field :view_count, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Clicks: <%= f.text_field :click_count, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>City: <%= f.text_field :city, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Metric: <%= f.text_field :metric, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Queue <%= f.check_box :queue %></p>
			</div>
			<div class="field">
				<p>Top Deal? <%= f.check_box :top_deal %></p>
			</div>
			<div class="field">
				<p>FlashBack? <%= f.check_box :flash_back %></p>
			</div>
			<div class="field">
				<p>Deal Order: <%= f.number_field :deal_order %></p>
			</div>
			<div class="actions">
				<%= f.submit "Update" %>
			</div>
		<% end %>
	</div>
</div>