<% content_for :head do %>
	<meta property="og:title" content="FlashingDeals | First to Know" />
	<meta property="og:description" content="FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!" />
	<meta property="og:image" content="https://s3.amazonaws.com/flashingdeals_admin/fd_logo.png" />
<% end %>
<div id="grid_top_bar">
	<div id="grid_search_form">
		<%= form_tag featured_deals_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
			<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
		<% end %>
	</div>
	<div id="grid_deal_nav">
		<div id="deal_nav">
			<div id="sort_non_ajax">
				<span class="sort"><%= sortable "posted", "Most Recent" %></span>
				<span class="sort"><%= sortable "view_count", "Best Seller" %></span>
				<span class="sort"><%= sortable "comment_count", "Most Talked About" %></span>
				<span class="sort"><%= sortable "price" %></span>
			</div>
		</div>
	</div>
</div>
<div id="grid_container_large">
	<%= render :partial => "box_deal_large", :collection => @deals, :as => :deal %>
</div>
<% unless signed_in? %>
	<div id="dim_signup_deal_show">
		<%= render "users/signup_message" %>
	</div>
<% end %>
<script>
$(document).ready(function() {
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
});
</script>