<div id="header" data-role="header">
	<div id="headerNav">
		<%= link_to(root_path, :id => "featuredLink", :class => "headerLink selected", "data-role" => "none") do %>
			<div id="blueBolt"></div>
			<p>Featured</p>
		<% end %>
		<%= link_to(me_account_path, :id => "meLink", :class => "headerLink notSelected") do %>
			<div id="meLinkPhoto">
				<%= image_tag current_user.photo.url %>
			</div>
			<p>Me</p>
		<% end %>
		<%= link_to(my_deals_path, :id => "mydealsLink", :class => "headerLink notSelected") do %>
			<p>My Deals</p>
		<% end %>
	</div>
</div>
<div id="contentNoPad" data-role="content">
	<div id="featuredDeals" class="dealList">
		<%= render :partial => 'list_deal', :collection => @deals, :as => :deal %>
	</div>
	<%= render 'endless_pagination' %>
	<span class="rootPage"></span>
</div>
<script>
if (window.location.hash == "#_=_") {
	window.location.hash = "";
}
</script>