<div id="grid_top_bar">
	<div id="grid_categories">
		<%= link_to("javascript:void(0);", :id => "grid_categories_show") do %>
			Categories
			<div id="grid_categories_arrow"></div>
		<% end %>
		<ul id="grid_categories_list">
			<% Category.all.each do |c| %>
				<% if c.deals.where("posted > ?", @today).size > 0 %>
					<li>
						<% if signed_in? %>
							<%= link_to "#{c.name}", c %>
						<% else %>
							<%= link_to "#{c.name}", "javascript:void(0);", :class => "categories_signup scroll_top" %>
						<% end %>
					</li>
				<% end %>
			<% end %>
		</ul>		
	</div>
	<div id="grid_search_form">
		<%= form_tag featured_deals_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :deals_per_page, params[:deals_per_page] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
			<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
		<% end %>
	</div>
	<div id="grid_deal_nav">
		<div id="deal_nav">
			<div id="sort_non_ajax">
				<span class="sort"><%= sortable_time_in "time_in", "Most Recent" %></span>
				<span class="sort"><%= sortable_time_in "view_count", "Best Seller" %></span>
				<span class="sort"><%= sortable_time_in "comment_count", "Most Talked About" %></span>
				<span class="sort"><%= sortable_time_in "price" %></span>
			</div>
		</div>
	</div>
</div>
<div id="grid_container_large">
	<%= render :partial => "box_deal_large", :collection => @deals, :as => :deal %>
</div>
<% unless signed_in? %>
	<% unless cookies[:hide_message] == "yes" %>
		<div id="dim_signup_deal_show">
			<%= render "users/signup_message" %>
		</div>
	<% end %>
<% end %>
<script>
$(document).ready(function() {
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
});
</script>