<div id="header" data-role="header">
	<%= image_tag "blue_bolt.png", :id => "blueBolt" %>
	<%= link_to "Me", '#', :id => "meLink", :class => "headerLink notSelected", "data-role" => "none" %>
	<ul id="headerNav">
		<li><%= link_to "Featured", root_path, :id => "featuredLink", :class => "headerLink selected" %></li>
		<li><%= link_to "My Deals", '#', :id => "mydealsLink", :class => "headerLink notSelected" %></li>
	</ul>
</div>
<div id="content" data-role="content">
	<div id="featuredDeals">
		<%= render :partial => 'listDeal', :collection => @deals, :as => :deal %>
	</div>
	<div class="endlessPagination">
		<%= will_paginate @deals, :separator => "" %>
	</div>
</div>
<script>
$(document).bind("pageinit", function() {
	$('.pagination .next_page').attr("data-transition", "slide");
})
</script>