<div id="deals_list">
	<div id="search">
		<% unless @deals.empty? %>
			<div class="paginate_range">
				<%= paginate_range(@deals, @deals_total_count) %>
			</div>
		<% end %>
		<div id="search_form">
		<%= form_tag featured_deals_all_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :deals_per_page, params[:deals_per_page] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<% if @deals.empty? %>
		<div class="empty_category">
			<p>Woopsie! No matching deals...for now :)</p>
			<p><%= link_to "View other deals", featured_deals_path %></p>
		</div>
	<% end %>
	<a name="top"></a>
	<div id="rising_deals_list">
		<%= render :partial => "rising_deal", :collection => @deals, :as => :deal %>
	</div>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.count < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "javascript:void(0);", :class => "scroll_top" %>
		</div>
	<% end %>
</div>