<% content_for :head do %>
	<meta property="og:title" content="FlashingDeals | First to Know" />
	<meta property="og:description" content="FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!" />
	<meta property="og:image" content="https://s3.amazonaws.com/flashingdeals_admin/fd_logo.png" />
<% end %>
<div id="grid_top_bar">
	<div id="facebook_twitter_home">
		<ul>
			<li id="facebook_like_li">
				<%= link_to("http://www.facebook.com/pages/FlashingDeals/254028428008396", :target => "_blank") do %>
					<div id="facebook_like"></div>
				<% end %>
			</li>
			<li id="twitter_follow_li">
				<a href="https://twitter.com/FlashingDeals" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">
					Follow @FlashingDeals
				</a>
			</li>
		</ul>
	</div>
	<div id="grid_search_form">
		<%= form_tag featured_deals_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
			<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
		<% end %>
	</div>
	<div id="grid_deal_nav">
		<div id="deal_nav">
			<div id="sort_non_ajax">
				<span class="sort"><%= sortable "posted", "Most Recent" %></span>
				<span class="sort"><%= sortable "view_count", "Best Seller" %></span>
				<span class="sort"><%= sortable "comment_count", "Most Talked About" %></span>
				<span class="sort"><%= sortable "price" %></span>
			</div>
		</div>
	</div>
</div>
<div id="grid_container_large">
	<%= render :partial => "box_deal_large", :collection => @deals, :as => :deal %>
</div>
<% if signed_in? %>
<script>
$(document).ready(function() {
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
});
</script>
<% else %>
<script>
$(document).ready(function() {
	$("#dim_signup").show();
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
});
</script>
<% end %>