<%= render 'shared/side_panel' %>
<div id="deals_list">
	<% unless cookies[:hide_featured_deals_info] == "yes" %>
		<div id="page_deal_info">
			<div id="page_deal_info_close">
				<%= link_to image_tag("/assets/close.png"), hide_flashback_info_path, :onclick => "hidePageDealInfo();", :remote => true, :title => "Hide this message" %>
			</div>
			<p>FlashingDeals is always finding the best deals, but the home page can only fit so many at a time. This is where the Featured Deals page comes into play. If you missed any of the deals from the home page, you can come here and see them all! Want more? Check out the Community Deals for never ending excitement.</p>
		</div>
	<% end %>
	<div id="deal_page_info">
		<div id="show_electric_flashing">
			<ul>
				<span id="electric_flashing">
					<%= render "electric_flashing_sort" %>
				</span>
			</ul>
		</div>
	</div>
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= render 'paginate_range' %>
		</div>
		<% end %>
		<div id="search_form">
			<%= form_tag flashback_path, :method => :get, :id => "deals_search" do %>
				<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
				<%= submit_tag "Search", :name => nil, :id => "search_button" %>
				<div id="sort_direction"><%= render 'sort_direction' %></div>
			<% end %>
		</div>
	</div>
	<div id="deals">
		<%= render 'flashback_deals' %>
	</div>
</div>
<script>
$(document).ready(function() {
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
	$("div#progress")
		.hide()
		.ajaxStart(function() {
			$(this).show();
		})
		.ajaxStop(function() {
			$(this).hide();
		});
});
</script>