<%= render 'shared/side_panel' %>
<div id="deals_list">
	<% unless cookies[:hide_community_deals_info] == "yes" %>
		<div id="page_deal_info">
			<div id="page_deal_info_close">
				<%= link_to image_tag("/assets/close.png"), hide_flashmob_info_path, :onclick => "hidePageDealInfo();", :remote => true, :title => "Hide this message" %>
			</div>
			<p>The Community Deals fetches deals from all over the web, allowing you to sort through them, see what is out there, comment on them, like or dislike them, and share them with your FD friends! These deals are separate from the deals on the home page and from the Featured Deals page. We encourage you to check all of them out so you won't miss a thing!</p>
		</div>
	<% end %>
	<div id="deal_page_info">
		<div id="show_electric_flashing">
			<ul>
				<%= render "deals/deals_per_page" %>
			</ul>
		</div>
	</div>
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= paginate_range(@deals, @deals_total_count) %>
		</div>
		<% end %>
		<div id="search_form">
		<%= form_tag flashmob_deals_path, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :deals_per_page, params[:deals_per_page] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<%= render "deal_nav" %>
	<a name="top"></a>
	<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.size < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "javascript:void(0);", :class => "scroll_top" %>
		</div>
	<% end %>
</div>
<script>
$(document).ready(function() {
	$("div#flashmob_arrow").show();
	$("a#flashmob_deals").removeClass("not_selected");
	$("a#flashmob_deals").addClass("selected");
});
</script>