<div id="side_panel">
	<%= render 'shared/side_panel' %>
</div>
<div id="deals_list">
	<div id="search">
		<%= form_tag flashmob_comments_path, :method => :get do %>
			<p>
				<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
				<%= submit_tag "Search", :name => nil, :id => "search_button" %>
			</p>
		<% end %>
	</div>
	<div id="deal_nav">
		<div id="paginate_range">
			<% if @deals.empty? %>
			<div class="empty_category">
				<p>Woopsie! No matching deals...for now :)</p>
				<p><%= link_to "View other deals", flashback_path %></p>
			</div>
			<% else %>
				<h1><%= paginate_range(@deals, @deals_total_count) %></h1>
			<% end %>
		</div>
	</div>
	<a name="top"></a>
		<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.count < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "#top" %>
		</div>
	<% end %>
</div>
<script>
$(document).ready(function() {
	$("div#flashmob_arrow").show();
	$("a#flashmob_deals").removeClass("not_selected");
	$("a#flashmob_deals").addClass("selected");
});
</script>