<div id="side_panel">
	<%= render "shared/side_panel" %>
</div>
<div id="deals_list">
	<div id="deal_nav">
		<div id="paginate_range">
			<% if @deals.empty? %>
			<div class="empty_category">
				<p>Woopsie! No matching deals...for now :)</p>
				<p><%= link_to "View other deals", flashback_path %></p>
			</div>
			<% else %>
				<h1><%= paginate_range(@deals, @deals_total_count) %></h1>
			<% end %>
		</div>
	</div>
	<a name="top"></a>
		<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.count < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "#top" %>
		</div>
	<% end %>
</div>
<script>
$(document).ready(function() {
	$("div#flashback_arrow").show();
	$("a#flashback").removeClass("not_selected");
	$("a#flashback").addClass("selected");
});
</script>