<%= render 'shared/side_panel' %>
<div id="deals_list">
	<div id="deal_page_info">
		<%= link_to "", "javascript:void(0)", :id => "question", :onclick => "toggleDealPageInfo();", :title => "What's the FlashMob?" %>
		<div class="deal_page_info">
			<div class="close_deal_page_info">
				<%= link_to image_tag("/assets/close.png"), "javascript:void(0);", :onclick => "toggleDealPageInfo();" %>
			</div>
			<p>The FlashMob fetches deals from all over the web, allowing you to sort through them, see what is out there, comment on them, like or dislike them, and share them with your FD friends! These deals are separate from the deals on the home page and on the FlashBack page. We encourage you to check out all of them so you won't miss a thing!</p>
		</div>
	</div>
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= paginate_range(@deals, @deals_total_count) %>
		</div>
		<% end %>
		<div id="search_form">
		<%= form_tag flashmob_deals_path, :method => :get do %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<%= render "deal_nav" %>
	<a name="top"></a>
	<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.size < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "#top" %>
		</div>
	<% end %>
</div>
<script>
$(document).ready(function() {
	$("div#flashmob_arrow").show();
	$("a#flashmob_deals").removeClass("not_selected");
	$("a#flashmob_deals").addClass("selected");
});
</script>