<%= render 'shared/side_panel' %>
<div id="deals_list">
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= render "paginate_range" %>
		</div>
		<% end %>
		<div id="search_form">
		<%= form_tag deals_path, :method => :get, :id => "deals_search" do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<div id="deals">
		<%= render 'all_deals' %>
	</div>
</div>
<script>
$(function() {
	$("#sort a, #deals .pagination a").live("click", function() {
		$.getScript(this.href);
		return false;
	});
	$("#deals_search input").keyup(function() {
		$.get($("#deals_search").attr("action"), $("#deals_search").serialize(), null, "script");
		return false;
	});
	$("#deals_search").submit(function() {
		$.get(this.action, $(this).serialize(), null, "script");
		return false;
	});
});
</script>