<div id="new_deal">
	<div id="new_deal_header">
		<h1>Create A New <span class="green">Deal</span></h1>
	</div>
	<div id="new_deal_form">
		<%= form_for(@deal) do |f| %>
			<%= render 'users/error_messages', :object => f.object %>
			<div class="field">
				<p>Name: <%= f.text_field :name, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Link: <%= f.text_field :link, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Image: <%= f.text_field :image, :autocomplete => "off", :placeholder => "Required" %></p>
			</div>
			<div class="field">
				<p>Site: <%= f.text_field :site, :autocomplete => "off", :placeholder => "Required (e.g. Amazon)" %></p>
			</div>
			<div class="field">
				<p>City: <%= f.text_field :city, :autocomplete => "off", :placeholder => "Required (e.g. national)" %></p>
			</div>
			<div class="field">
				<p>Metric: <%= f.text_field :metric, :autocomplete => "off", :placeholder => "Required (e.g. 1)" %></p>
			</div>
			<div id="field_deal_info" class="field">
				<p>Info: <%= f.text_area :info, :autocomplete => "off" %></p>
			</div>
			<div class="field datetime">
				<p>Posted: <%= f.datetime_select :posted, :ampm => true, :datetime_separator => ", ", :time_separator => "", :use_short_month => true, :order => [:month, :day, :year] %></p>
			</div>
	</div>
</div>
<div id="new_deal_2">
	<div id="new_deal_header">
		<h1>Create A New <span class="green">Deal</span></h1>
	</div>
	<div id="new_deal_form">
			<div class="field">
				<p>Coupon: <%= f.text_field :coupon, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Rebate: <%= f.text_field :rebate, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Price: <%= f.text_field :price, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Value: <%= f.text_field :value, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Discount: <%= f.text_field :discount, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Savings: <%= f.text_field :savings, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Partner: <%= f.text_field :partner, :autocomplete => "off" %></p>
			</div>
			<div class="field">
				<p>Exclusive <%= f.check_box :exclusive %></p>
			</div>
			<div class="field">
				<p>Queue <%= f.check_box :queue %></p>
			</div>
			<div class="field">
				<p>Top Deal <%= f.check_box :top_deal %></p>
			</div>
			<div class="field">
				<p>Featured <%= f.check_box :flash_back %></p>
			</div>
			<div class="field datetime">
				<p>Expires: <%= f.datetime_select :expires, :ampm => true, :datetime_separator => ", ", :time_separator => "", :use_short_month => true, :order => [:month, :day, :year], :include_blank => true %></p>
			</div>
			<div class="field">
				<p>Deal Order: <%= f.text_field :deal_order, :autocomplete => "off" %></p>
			</div>
			<div class="field datetime">
				<p>Time In: <%= f.datetime_select :time_in, :ampm => true, :datetime_separator => ", ", :time_separator => "", :use_short_month => true, :order => [:month, :day, :year], :include_blank => true %></p>
			</div>
			<div class="actions">
				<%= f.submit "Create" %>
			</div>
		<% end %>
	</div>
</div>