<div id="queue_list_section">
	<div id="queue_deal_header">
		<h1><strong>The Queue (<span id="queue_deal_count"><%= @deals.count %></span>)</strong> 
			<% if current_user.gm? %>
				<%= link_to "Empty Queue", empty_queue_path, :id => "empty_queue", :remote => true, :confirm => "Empty queue?" %></h1>
			<% end %>
	</div>
	<div id="queue_list">
		<%= render :partial => "queue_deal", :collection => @deals, :as => :deal %>
	</div>
</div>
<div id="top_deals_section">
	<div id="top_deals_header">
		<h1>Top Deals (<span id="top_deals_count"><%= @top_deals.count %></span>)</h1>
	</div>
	<div id="top_deals_list">
		<%= render :partial => "queue_top_deal", :collection => @top_deals, :as => :deal %>
	</div>
</div>