<% content_for :head do %>
	<% if @deal.price.blank? %>
		<meta property="og:title" content="FlashingDeals | <%= @deal.name %>" />
	<% elsif @deal.name[/[$]/].nil? && @deal.price != 0 %>
		<meta property="og:title" content="FlashingDeals | <%= @deal.name %> for <%= number_to_currency(@deal.price) %>" />
	<% else %>
		<meta property="og:title" content="FlashingDeals | <%= @deal.name %>" />
	<% end %>
	<meta property="og:description" content="<%= strip_tags(@deal.info) %>" />
	<meta property="og:image" content="<%= @deal.image %>" />
<% end %>
<%= render "previous_next_deals" %>
<div id="deal_show_container">
	<div id="deal_show_column_left">
		<% unless @deal.metric.nil? %>
			<% if @deal.metric >= 4 %>
				<div id="deal_show_lightning">
					<%= lightning_deal_2 %>
				</div>
			<% end %>
		<% end %>
		<% if @deal.dead? %>
			<div id="deal_show_image" class="deal_dead" title="This deal has expired">
				<%= image_tag(@deal.image, :id => "deal_image") %>
			</div>
		<% else %>
			<div id="deal_show_image">
				<%= image_tag(@deal.image, :id => "deal_image") %>
			</div>
		<% end %>
		<div id="deal_show_data">
			<table>
				<tr>
					<td id="deal_show_data_labels">
						<p>Value</p>
					</td>
					<td id="deal_show_data_numbers">
						<p>
							<% if @deal.value.blank? %>
								N/A
							<% else %>
								<%= number_to_currency(@deal.value) %>
							<% end %>
						</p>
					</td>
				</tr>
				<tr>
					<td id="deal_show_data_labels">
						<p>Discount</p>
					</td>
					<td id="deal_show_data_numbers">
						<p>
							<% if @deal.discount.blank? && @deal.value.blank? || @deal.discount.blank? && @deal.price.blank? %>
								N/A
							<% elsif @deal.discount.nil? && @deal.value.nil? || @deal.discount.nil? && @deal.price.nil? %>
								N/A
							<% elsif @deal.discount.nil? && @deal.value == 0 %>
								N/A
							<% elsif @deal.discount.nil? || @deal.discount.blank? %>
								<%= (((@deal.value - @deal.price) * 100)/@deal.value).round %>%
							<% else %>
								<%= @deal.discount.round %>%
							<% end %>
						</p>
					</td>
				</tr>
				<tr>
					<td id="deal_show_data_labels">
						<p>Savings</p>
					</td>
					<td id="deal_show_data_numbers">
						<p>
							<% if @deal.savings.blank? && @deal.value.blank? || @deal.savings.blank? && @deal.price.blank? %>
								N/A
							<% elsif @deal.savings.nil? && @deal.value.nil? || @deal.savings.nil? && @deal.price.nil? %>
								N/A
							<% elsif @deal.savings.nil? || @deal.savings.blank? %>
								<%= number_to_currency(@deal.value - @deal.price) %>
							<% else %>
								<%= number_to_currency(@deal.savings) %>
							<% end %>
						</p>
					</td>
				</tr>
			</table>
		</div>
		<% unless @deal.coupon.nil? && @deal.rebate.nil? && @deal.expires.nil? || @deal.coupon.blank? && @deal.rebate.blank? && @deal.expires.blank? %>
			<div id="coupon_rebate">
				<% unless @deal.coupon.nil? || @deal.coupon.blank? %>
					<div id="deal_show_coupon">
						<h1>Coupon</h1>
						<p><%= wrap_box_deal_large(@deal.coupon) %></p>
					</div>
				<% end %>
				<% unless @deal.rebate.nil? || @deal.rebate.blank? %>
					<div id="deal_show_rebate">
						<h1>Rebate</h1>
						<p><%= link_to "#{@deal.rebate}", @deal.rebate, :target => "_blank" %></p>
					</div>
				<% end %>
				<% unless @deal.expires.nil? || @deal.expires.blank? %>
					<div id="deal_show_coupon">
						<h1>Expires</h1>
						<p><%= @deal.expires.strftime("%b %d, %Y") %></p>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div id="deal_show_column_right">
		<div id="deal_show_name">
			<h1>
			<% if @deal.dead? %>
				<span class="red">Expired</span> <%= wrap_deal_show(@deal.name) %>
			<% else %>
				<%= wrap_deal_show(@deal.name) %>
			<% end %>
			</h1>
			<% unless @deal.site.nil? || @deal.site.empty? %>
				<p>at <%= @deal.site %></p>
			<% end %>
		</div>
		<div id="deal_show_line_2">
			<div id="deal_show_price">
				<h1>
					<% if @deal.price.blank? && @deal.discount != nil %>
						<%= @deal.discount.round %>% Off
					<% elsif @deal.price.blank? && @deal.discount.blank? && @deal.value.blank? && @deal.savings != nil %>
						$<%= @deal.savings.round %> Off
					<% elsif @deal.price.blank? || @deal.price.nil? %>
						$
					<% elsif @deal.price == 0 %>
						Free
					<% else %>
						<%= number_to_currency(@deal.price) %>
					<% end %>
				</h1>
			</div>
			<div id="deal_show_deal_button">
				<% if @deal.coupon.nil? && @deal.rebate.nil? || @deal.coupon.nil? && @deal.rebate.blank? || @deal.coupon.blank? && @deal.rebate.blank? || @deal.coupon.blank? && @deal.rebate.nil? %>
					<%= link_to "Deal Now", frame_deal_path(@deal), :target => "_blank" %>
				<% else %>
					<%= link_to "Deal Now", "javascript:void(0);", :onclick => "showCouponPopup();" %>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<div id="deal_show_line_3">
			<div id="deal_show_info">
				<% if signed_in? %>
					<%= render 'the_flash_deal_info' %>
				<% else %>
					<p><%= to_html(auto_link(@deal.info, :all, :target => "_blank")) %></p>
				<% end %>
			</div>
			<% if signed_in? %>
				<% if current_user.admin? %>
					<div id="info_edit_the_flash">
						<%= render 'deal_info_form' %>
					</div>
				<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
		<% flash.each do |key, value| %>
  		<div class="flash <%= key %>">
  			<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
			</div>
  	<% end %>
  	<div id="flash"></div>
	</div>
	<div class="clear"></div>
	<div id="deal_show_column_left_2">
		<div id="deal_show_watch_share_vote">
			<div id="deal_summary">
				<div id="user_like">
					<%= render "user_like" %>
				</div>
				<div id="user_dislike">
					<%= render "user_dislike" %>
				</div>
				<div id="flash_points">
					<div id="up">
						<% if signed_in? %>
							<%= link_to(score_up_deal_path(@deal), :onmouseover => "toggleUserLike()", :onmouseout => "toggleUserLike()", :method => :post, :remote => true, :id => "like") do %>
								<div id="like_arrow"></div>
							<% end %>
						<% else %>
							<%= link_to("javascript:void(0);", :id => "like", :onmouseover => "toggleUserLike()", :onmouseout => "toggleUserLike()", :class => "signup_popup_anchor") do %>
								<div id="like_arrow"></div>
							<% end %>
						<% end %>
					</div>
					<div id="total_score">
						<h1><%= @deal.plusminus %></h1>
					</div>
					<div id="down">
						<% if signed_in? %>
							<%= link_to(score_down_deal_path(@deal), :onmouseover => "toggleUserDislike()", :onmouseout => "toggleUserDislike()", :method => :post, :remote => true, :id => "dislike") do %>
								<div id="dislike_arrow"></div>
							<% end %>
						<% else %>
							<%= link_to("javascript:void(0);", :id => "dislike", :onmouseover => "toggleUserDislike()", :onmouseout => "toggleUserDislike()", :class => "signup_popup_anchor") do %>
								<div id="dislike_arrow"></div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
			<div id="deal_summary_side_panel">
				<div id="watch_deal_info">
					Save this to your personal profile and never lose sight of it!
					<div id="watch_deal_info_triangle"></div>
				</div>
				<div class="add_deal">
					<% if signed_in? %>
						<%= render 'watch_form' %>
					<% else %>
						<div id="watch_form">
							<div class="actions">
								<input name="commit" class="signup_popup_anchor" type="submit" value="Watch" onmouseover="showWatchDealInfo()" onmouseout="hideWatchDealInfo()" onmouseclick="hideWatchDealInfo()">
							</div>
						</div>
					<% end %>
				</div>
				<div id="share_all_info">
					Share this deal with all your FD friends
					<div id="share_all_info_triangle"></div>
				</div>
				<% if signed_in? %>
					<div id="share_form">
						<%= render 'shares/share_all_form' %>
					</div>
				<% else %>
					<div id="share_form">
						<div class="actions">
							<input name="commit" class="signup_popup_anchor" type="submit" value="Share" onmouseover="showShareAllInfo();" onmouseout="hideShareAllInfo()" onmouseclick="hideShareAllInfo()">
						</div>
					</div>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<% if signed_in? %>
			<% if current_user.admin? %>
				<div id="deal_show_data">
					<table>
						<tr>
							<td id="deal_show_data_labels">
								<p>ID</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.id %></p>
							</td>
						</tr>
						<tr>
							<td id="deal_show_data_labels">
								<p>Views</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.view_count %></p>
							</td>
						</tr>
						<tr>
							<td id="deal_show_data_labels">
								<p>Clicks</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.click_count %></p>
							</td>
						</tr>
						<tr>
							<td id="deal_show_data_labels">
								<p>Created</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.created_at.strftime("%m-%d") %> <span class="light_grey">at</span> <span class="grey_75"><%= @deal.created_at.strftime("%I:%M %p") %></span></p>
							</td>
						</tr>
						<% unless @deal.posted.nil? %>
						<tr>
							<td id="deal_show_data_labels">
								<p>Posted</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.posted.strftime("%m-%d") %> <span class="grey_150">at</span> <%= @deal.posted.strftime("%I:%M %p") %></p>
							</td>
						</tr>
						<% end %>
						<% unless @deal.time_in.nil? %>
						<tr>
							<td id="deal_show_data_labels">
								<p>Time In</p>
							</td>
							<td id="deal_show_data_numbers">
								<p><%= @deal.time_in.strftime("%m-%d") %> <span class="light_grey">at</span> <span class="grey_75"><%= @deal.time_in.strftime("%I:%M %p") %></span></p>
							</td>
						</tr>
						<% end %>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
	<div id="deal_show_column_right_2">
		<%= render "deal_show_share" %>
		<% if signed_in? %>
			<%= render 'comments/comment_form' %>
		<% else %>
			<div id="comment_form">
				<input id="comment_content_login" class="alertdim" readonly="readonly" value="Login or Signup to comment.">
			</div>
		<% end %>
		<div id="deal_show_comments_list">
			
		</div>
	</div>
	<div class="clear"></div>
	<% if signed_in? %>
		<% if current_user.admin? %>
			<div id="delete_deal">
				<ul>
					<li><p><%= link_to "Add to Queue", add_to_queue_deal_path(@deal), :remote => true %></p></li>
					<li><p><%= link_to "Edit Deal", edit_deal_path(@deal) %></p></li>
					<li><p><%= link_to "Dead Deal", make_dead_deal_path(@deal), :remote => true %></p></li>
					<% if current_user.gm? %>
						<li><p><%= link_to "Delete Deal", @deal, :method => :delete, :confirm => "Are you sure you want to delete this deal?", :title => "Delete #{@deal.name}" %></p></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
</div>
<% unless @deal.coupon.nil? && @deal.rebate.nil? || @deal.coupon.nil? && @deal.rebate.blank? || @deal.coupon.blank? && @deal.rebate.blank? || @deal.coupon.blank? && @deal.rebate.nil? %>
	<%= render "coupon_popup" %>
<% end %>
<% if signed_in? %>
<script>
$("#content").css("width", "989px");
$('.example3demo').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 375,
	width: 675
}); 
$('.example4demo').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 500,
	width: 675
}); 
setPreviousNextHeight();
</script>
<% else %>
<script>
$("#content").css("width", "989px");
$(document).ready(function() {
	$("#dim_signup").show();
})
$('.example3demo').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 375,
	width: 675
}); 
$('.example4demo').popupWindow({ 
	centerScreen:1,
	resizable: 1,
	height: 500,
	width: 675
}); 
setPreviousNextHeight();
</script>
<% end %>