<div id="deal_info">
	<h1><%= @deal.name %></h1>
	<div id="deal_data">
		<div id="deal_functions">
			<div id="deal_button">
				<%= link_to "Deal Now!", frame_deal_path(@deal), :target => "_blank" %>
			</div>
			<div id="deal_stats">
				<ul>
					<li>
						<p>Value</p>
						<span class="deal_stats">
							<% if @deal.value.blank? %>
								<%= number_to_currency(0) %>
							<% else %>
								<%= number_to_currency(@deal.value) %>
							<% end %>
						</span>
					</li>
					<li>
						<p>Discount</p>
						<span class="deal_stats">
							<% if @deal.discount.blank? && @deal.value.blank? || @deal.discount.blank? && @deal.price.blank? %>
								0%
							<% elsif @deal.value.blank? || @deal.price.blank? %>
								<%= @deal.discount %>%
							<% elsif @deal.value == 0 %>
								<%= @deal.discount %>%
							<% elsif @deal.discount.blank? %>
								<%= (((@deal.value - @deal.price) * 100)/@deal.value).round %>%
							<% end %>
						</span>
					</li>
					<li>
						<p>Savings</p>
						<span class="deal_stats">
							<% if @deal.savings.blank? && @deal.value.blank? || @deal.savings.blank? && @deal.price.blank? %>
								<%= number_to_currency(0) %>
							<% elsif @deal.value.blank? || @deal.price.blank? %>
								<%= number_to_currency(@deal.savings) %>
							<% elsif @deal.savings.blank? %>
								<%= number_to_currency(@deal.value - @deal.price) %>
							<% end %>
						</span>
					</li>
				</ul>
			</div>
			<div id="share">
				<ul>
					<li><%= link_to facebookButton, "http://facebook.com", :target => "_blank" %></li>
					<li><%= link_to twitterButton, "http://twitter.com", :target => "_blank" %></li>
					<li><%= mail_to "your@friend.com", emailButton, :subject => "#{@deal.name}", :body => "Find this awesome deal at #{request.url}" %></li>
				</ul>
			</div>
		</div>
		<div class="deal_show_image">
			<% unless @deal.metric.nil? %>
			<div id="deal_show_lightning">
				<% if @deal.metric >= 2 && @deal.metric < 4 %>
					<%= lightning_deal_1 %>
				<% elsif @deal.metric >= 4 %>
					<%= lightning_deal_2 %>
				<% end %>
			</div>
			<% end %>
			<div id="deal_image_container">
				<%= image_tag("#{@deal.image}", :id => "deal_image") %>
			</div>
			<span id="price">
				<% if @deal.price.blank? %>
					<%= number_to_currency(0) %>
				<% else %>
					<%= number_to_currency(@deal.price) %>
				<% end %>
			</span>
		</div>
	</div>
</div>
<%= render "shared/side_deal" %>
<%= render 'deal_info2' %>
<script>
function adjustImage() {
	var h = $('img#deal_image').height();
	var x = (250 - h)/2
	$('img#deal_image').css("top", x+"px")
};
setInterval(adjustImage);
</script>