<div id="home">
	<% flash.each do |key, value| %>
  	<div class="flash <%= key %>">
  		<%= value %><%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>
		</div>
  <% end %>
	<div id="view_four_deals">
		<%= render :partial => 'home_deal_four', :collection => @deals, :as => :item %>
	</div>
</div>
<div id="come_back_for_more">
	<p>See nothing you like? Come back in 15 minutes.</p>
	<p>FlashingDeals is always scouring the internet for the best deals. Let us do the work for you!</p>
	<p>Miss something? Check out the <%= link_to "FlashBack", flashback_path %> to catch deals you might have missed.</p>
</div>