<% content_for :head do %>
	<meta property="og:title" content="FlashingDeals | First to Know" />
	<meta property="og:description" content="FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!" />
	<meta property="og:image" content="https://s3.amazonaws.com/flashingdeals_admin/flashingdeals_preview.png" />
<% end %>
<div id="home">
	<% flash.each do |key, value| %>
  	<div class="flash <%= key %>">
  		<%= value %><%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>
		</div>
  <% end %>
	<div id="view_four_deals">
		<%= render :partial => 'home_deal_four', :collection => @deals, :as => :item %>
	</div>
</div>
<div id="come_back_for_more">
	<p>See nothing you like? Check out the <%= link_to "FlashBack", flashback_path %> to catch great deals from earlier today.</p>
	<p>FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!</p>
</div>
<script>
setInterval(adjustBoxName1);
setInterval(adjustBoxName2);
setInterval(adjustBoxName3);
setInterval(adjustBoxName4);

setInterval(adjustBoxImage1);
setInterval(adjustBoxImage2);
setInterval(adjustBoxImage3);
setInterval(adjustBoxImage4);
</script>