<% content_for :head do %>
	<meta property="og:title" content="FlashingDeals | First to Know" />
	<meta property="og:description" content="FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!" />
	<meta property="og:image" content="https://s3.amazonaws.com/flashingdeals_admin/fd_logo.png" />
<% end %>
<div id="home">
	<% flash.each do |key, value| %>
  	<div class="flash <%= key %>">
  		<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %><%= value %>
		</div>
  <% end %>
  <div id="facebook_twitter_home">
		<ul>
			<li id="facebook_like_li">
				<%= link_to("http://www.facebook.com/pages/FlashingDeals/254028428008396", :target => "_blank") do %>
					<div id="facebook_like"></div>
				<% end %>
			</li>
			<li id="twitter_follow_li">
				<a href="https://twitter.com/FlashingDeals" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">
					Follow @FlashingDeals
				</a>
			</li>
		</ul>
	</div>
	<div id="view_four_deals">
		<%= render :partial => 'home_deal_four', :collection => @deals, :as => :item %>
	</div>
</div>
<div id="come_back_for_more">
	<p>See nothing you like? Check out the <%= link_to "Featured Deals", flashback_path %> to catch great deals from earlier today.</p>
	<p>FlashingDeals is always scouring the internet for the best deals. With new ones every 15 minutes, let us do the work for you!</p>
</div>
<script>
setInterval(adjustBoxName1);
setInterval(adjustBoxName2);
setInterval(adjustBoxName3);
setInterval(adjustBoxName4);

setInterval(adjustBoxImage1);
setInterval(adjustBoxImage2);
setInterval(adjustBoxImage3);
setInterval(adjustBoxImage4);
</script>