<%= content_for :head do %>
	<meta property="og:title" content="<%= @post.name %>"/> 
	<meta property="og:site_name" content="FlashingDeals Blog"/>
	<script>
		$(document).ready(function() {
			var edit = $('#editPost');
			if (edit.length > 0) {
				edit.css("display", "inline-block");
				$('#editPost a').attr("href", "<%= edit_post_path(@post) %>")
			}
		})
	</script>
<% end %>
<div class="blogWaypoint"></div>
<article class="postSingle postShow">
	<header>
		<nav>
			<p class="postSingleDay">
				<% if @post.published_date %>
					<%= @post.published_date.strftime("%A") %>
				<% else %>
				 -
				<% end %>
			</p>
			<p class="postSingleDate">
				<% if @post.published_date %>
					<%= @post.published_date.strftime("%b %d, %Y") %>
				<% else %>
					Unpublished
				<% end %>
			</p>
			<ul class="socialShare">
				<li class="postTwitter">
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://blog.flashingdeals.com<%= post_path(@post) %>" data-text="<%= @post.name %>" data-lang="en" data-count="none">
						Tweet
					</a>
				</li>
				<li class="postFacebook">
					<fb:like href="<%= request.url %>" layout="button_count" send="false" show_faces="false">
				</li>
				<div class="clear"></div>
			</ul>
			<% if signed_in? %>
				<% if current_user.admin? %>
					<ul class="publishDelete">
						<li>
							<% if @post.published? %>
								<%= link_to "Unpublish", publish_post_path(@post) %>
							<% else %>
								<%= link_to "Publish", publish_post_path(@post) %>
							<% end %>
						</li>
						<li><%= link_to "Delete", @post, method: :delete, confirm: "Are you sure you want to delete this post?" %></li>
					</ul>
				<% end %>
			<% end %>
		</nav>
		<div class="postHeader">
			<% if signed_in? %>
				<% if current_user.admin? %>
					<div>
						<p><%= pluralize(@post.views, 'view') %></p>
					</div>
				<% end %>
			<% end %>
			<h1><%= link_to @post.name, @post %></h1>
		</div>
	</header>
	<section>
		<%= to_html(@post.content.html_safe) %>
	</section>
	<div class="postComments">
		<div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="740"></div>
	</div>
</article>
<div class="postShadow"></div>