<div id="categoriesBar">
	<div id="facebook_twitter_home">
		<div id="atomFeed">
			<%= link_to image_tag("/assets/atom_feed_glossy.png"), featured_deals_path(:format => "atom"), :title => "Atom/RSS Feed" %>
		</div>
		<div id="facebookLike">
			<div class="fb-like" data-href="http://www.facebook.com/FlashingDeals" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
		</div>
		<div id="twitterFollow">
			<a href="https://twitter.com/FlashingDeals" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">
				Follow @FlashingDeals
			</a>
		</div>
		<div id="facebookTwitterCover"></div>
	</div>
	<div id="grid_search_form">
		<%= form_tag featured_deals_path, :method => :get do %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off", :id => "grid_search" %>
			<%= submit_tag "Search", :name => nil, :id => "grid_search_button" %>
		<% end %>
	</div>
	<ul class="categoriesList">
		<li><%= link_to "Food", "/categories/food", :id => "food" %></li>
		<li><%= link_to "Leisure", "/categories/leisure", :id => "leisure" %></li>
		<li><%= link_to "Retail", "/categories/retail", :id => "retail" %></li>
	</ul>
</div>
<div id="categoriesWaypoint"></div>