<%= render 'shared/side_panel' %>
<div id="deals_list">
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= paginate_range(@deals, @deals_total_count) %>
		</div>
		<% end %>
		<div id="search_form">
		<%= form_tag @category, :method => :get do %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<%= render "deals/deal_nav" %>
	<a name="top"></a>
		<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.count < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "#top" %>
		</div>
	<% end %>
</div>