<%= render 'shared/side_panel' %>
<div id="deals_list">
	<div id="deal_page_info">
		<div id="show_electric_flashing">
			<ul>
				<%= render "deals/deals_per_page" %>
			</ul>
		</div>
		<%= link_to "", "javascript:void(0)", :id => "question", :onclick => "toggleDealPageInfo();" %>
		<h1>What are Categories?</h1>
		<div class="deal_page_info">
			<div class="close_deal_page_info">
				<%= link_to image_tag("/assets/close.png"), "javascript:void(0);", :onclick => "toggleDealPageInfo();" %>
			</div>
			<p>This page breaks down the FlashMob deals into categories, making your life easier and everyone happier. Don't forget to check out the home page for new deals every 15 minutes, and in case you missed it, check out the FlashBack for all the featured deals.</p>
		</div>
	</div>
	<div id="search">
		<% unless @deals.empty? %>
		<div class="paginate_range">
			<%= paginate_range(@deals, @deals_total_count) %>
		</div>
		<% end %>
		<div id="search_form">
		<%= form_tag @category, :method => :get do %>
			<%= hidden_field_tag :sort, params[:sort] %>
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :deals_per_page, params[:deals_per_page] %>
			<%= text_field_tag :search, params[:search], :autocomplete => "off" %>
			<%= submit_tag "Search", :name => nil, :id => "search_button" %>
		<% end %>
		</div>
	</div>
	<%= render "deals/deal_nav" %>
	<a name="top"></a>
		<%= render @deals %>
	<%= will_paginate @deals, :separator => "" %>
	<% unless @deals.count < 3 %>
		<div id="back_to_top">
			<strong>^</strong><%= link_to "Back to the Top", "#top" %>
		</div>
	<% end %>
</div>