<div class="fs_fd">
	<div class="nav">
		<%= debug(params) if Rails.env.development? %>
		<table>
		  <tr>
		    <td>
		      <p>FlashingDeals</p>
		      <ul>
		        <li><%= link_to "About", about_path %></li>
		        <li><%= link_to "Investors", investors_path %></li>
		        <li><%= link_to "Team", team_path %></li>
		        <li><%= link_to "Contact", contact_path %></li>    		
		      </ul>
		    </td>
		    <td>
		      <p>Community</p>
		      <ul>
		        <li><%= link_to "FlashMob", flashmob_path %></li>
		        <li><%= link_to "Blog", blog_path %></li>
		        <li><%= link_to "Press", press_path %></li>
		        <li><%= link_to "Partner", partner_path %></li>    		
		      </ul>
		    </td>
		    <td>
		      <p>Help</p>
		      <ul>
		        <li><%= link_to "FAQ", faq_path %></li>
		        <li><%= link_to "Support", support_path %></li>
		        <li><%= link_to "Terms", terms_path %></li>
		        <li><%= link_to "Privacy", privacy_path %></li>    		
		      </ul>
		    </td>
		  </tr>
		</table>
	</div>
</div>