<div id="header" data-role="header">
	<% if signed_in? %>
		<%= image_tag "blue_bolt.png", :id => "blueBolt" %>
		<%= link_to "Me", '#', :id => "meLink", :class => "headerLink notSelected", "data-role" => "none" %>
		<ul id="headerNav">
			<li><%= link_to "Featured", root_path, :id => "featuredLink", :class => "headerLink notSelected" %></li>
			<li><%= link_to "My Deals", my_deals_path, :id => "mydealsLink", :class => "headerLink notSelected" %></li>
		</ul>
	<% else %>
		<div class="logoContainer">
			<%= logo %>
		</div>
	<% end %>
</div>