<div id="header" data-role="header">
	<% if signed_in? %>
		<div id="headerNav">
			<%= link_to(root_path, :id => "featuredLink", :class => "headerLink notSelected", "data-role" => "none") do %>
				<div id="blueBolt"></div>
				<p>Featured</p>
			<% end %>
			<%= link_to(me_account_path, :id => "meLink", :class => "headerLink notSelected") do %>
				<div id="meLinkPhoto">
					<%= image_tag current_user.photo.url %>
				</div>
				<p>Me</p>
			<% end %>
			<%= link_to(my_deals_path, :id => "mydealsLink", :class => "headerLink notSelected") do %>
				<p>My Deals</p>
			<% end %>
		</div>
	<% else %>
		<div class="logoContainer">
			<%= logo %>
		</div>
	<% end %>
</div>