<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--[if !IE]><!-->
    	<%= stylesheet_link_tag 'chrome/application' %>
    	<%= javascript_include_tag 'chrome/application' %>
    <!--<![endif]-->
    <!--[if lt IE 8]>
    	<%= stylesheet_link_tag 'ie/application' %>
    	<%= javascript_include_tag 'ie/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %> 
    <html lang="en">
    <meta charset="UTF-8">
    <%= yield :head %>
    <script type="text/javascript">
			$(document).ready(function() {
				$("body").ezBgResize({
					img: "/assets/background.png"
				});
			});
			
			var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28454790-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		  
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28454790-2']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  </head>
  <body>
  	<div id="wrapper">
  		<div id="header">
  			<%= render 'layouts/header' %>
  		</div>
  		<div id="content">
  			<%= yield %>
  		<div class="clear"></div>
  		</div>
  		<div class="clear"></div>
  		<div id="footer">
  			<%= render 'layouts/footer' %>
  			<div id="copyright">
  				<p class="copyright">FlashingDeals &copy; 2012 All Rights Reserved.</p>
  			</div>
  		</div>
  		<div id="dim" style="display: none">
				<%= render 'sessions/login_form' %>
			</div>
			<div id="progress"></div>
  	</div>
  </body>
</html>