<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag 'mobile/application' %>
		<%= javascript_include_tag 'jmobile/application' %>
		<%= javascript_include_tag 'jquery-mobile/jquery.mobile.js' %>
		<%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <%= yield :head %>
  </head>
  <body id="mobileBody">
  	<div id="wrapper" class="contentWrapper" data-role="page">
  		<%= yield %>
  	</div>
  </body>
</html>