<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag 'mobile/application' %>
		<%= javascript_include_tag 'mobile/application' %>
		<%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">
    <%= yield :head %>
  </head>
  <body>
  	<div id="wrapper" data-role="page">
  		<div id="header" data-role="header">
  			<%= render 'layouts/header' %>
  		</div>
  		<div id="content" data-role="content">
  			<% flash.each do |key, value| %>
			  	<div class="flash <%= key %>">
			  		<%= value %>
		  		</div>
			  <% end %>
  			<%= yield %>
  		</div>
  	</div>
  </body>
</html>