<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!--[if !IE]><!-->
    	<%= stylesheet_link_tag 'chrome/application' %>
    	<%= javascript_include_tag 'chrome/application' %>
    <!--<![endif]-->
    <!--[if IE 9]>
    	<%= stylesheet_link_tag 'ie-9/application' %>
    	<%= javascript_include_tag 'ie-9/application' %>
    <![endif]-->
    <!--[if IE 8]>
    	<%= stylesheet_link_tag 'ie-8/application' %>
    	<%= javascript_include_tag 'ie-8/application' %>
    <![endif]-->
    <!--[if lt IE 8]>
    	<%= stylesheet_link_tag 'ie-7/application' %>
    	<%= javascript_include_tag 'ie-7/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="UTF-8">
    <%= yield :head %>
    <script type="text/javascript">
    // Google Analytics
			var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28454790-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		  
		// Twitter
		  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
		  (document,"script","twitter-wjs");
		
		// Facebook  
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
  </head>
  <body>
  	<div id="fs_wrapper">
  		<div id="fs_header">
  			<%= render "layouts/fs_header" %>
  		</div>
  		<div id="fs_content">
  			<%= yield %>
  			<div class="clear"></div>
  		</div>
  		<% unless signed_in? %>
				<div id="dim_signup" style="display: none">
					<%= render "users/signup_message" %>
				</div>
			<% end %>
  	</div>
  	<div id="back_to_the_top_container">
  		<%= link_to "Back To The Top", "javascript:void(0);", :id => "back_to_the_top" %>
  	</div>
  	<div id="fs_footer">
			<%= render "layouts/fs_footer" %>
			<div id="copyright">
				<p class="copyright">FlashingDeals &copy; 2012 All Rights Reserved.</p>
			</div>
		</div>
		<div class="overlayOuter">
			<div class="overlay_top"></div>
			<div class="overlay_left"></div>
			<div class="overlay_right"></div>
		  <div class="overlayInner"></div>
		  <div class="overlay_bottom"></div>
		</div>
		<% if Rails.env.production? %>
			<script type="text/javascript" src="http://s.skimresources.com/js/28555X865329.skimlinks.js"></script>
		<% end %>
  </body>
</html>