<!DOCTYPE html>
<html>
  <head>
    <title><%= @deal.name %></title>
    <!--[if !IE]><!-->
    	<%= stylesheet_link_tag 'chrome/application' %>  
    <!--<![endif]-->  
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield :head %>
    <html lang="en">
    <meta charset="UTF-8">
  </head>
  <body>
  	<div id="header2">
  		<%= render 'layouts/header2' %>
  	</div>
  	<div id="iframe">
  		<%= yield %>
  	</div>
  </body>
</html>